{%- comment -%}
  Share current URL to Social Networks

  Accepts:
    - url: {String} Current URL

  
{%- endcomment -%}

<div class="social-networks">
  <a href="#" onClick="MyWindow=window.open('https://www.facebook.com/sharer/sharer.php?u={{shop.domain}}{{ url }}','MyWindow','width=600,height=300'); return false;" target="_blank" class="social-networks__item p-button p-button--white p-button--small">
    {%- render 'component-icon' icon: 'facebook-3', icon_size: 18 -%}
    <span>シェアする</span>
  </a>
  <a href="#" onClick="MyWindow=window.open('https://twitter.com/share?url={{shop.domain}}{{ url }}','MyWindow','width=600,height=300'); return false;" target="_blank" class="social-networks__item p-button p-button--white p-button--small twitter-product-share-pc">
    {%- render 'component-icon' icon: 'twitter-3', icon_size: 18 -%}
    <span>ツイートする</span>
  </a>
  <a href="https://twitter.com/share?url={{shop.domain}}{{ url }}" target="_blank" class="social-networks__item p-button p-button--white p-button--small twitter-product-share-sp">
    {%- render 'component-icon' icon: 'twitter-3', icon_size: 18 -%}
    <span>ツイートする</span>
  </a>
  <!-- <a href="#" onClick="MyWindow=window.open('http://pinterest.com/pin/create/link/?url={{shop.domain}}{{ url }}','MyWindow','width=600,height=300'); return false;" target="_blank"  class="social-networks__item p-button p-button--white p-button--small">
    {%- render 'component-icon' icon: 'pinterest-3', icon_size: 18 -%}
    <span>ピンする</span>
  </a> -->
  <a href="//www.pinterest.com/pin/create/button/" data-pin-custom="true"  class="social-networks__item p-button p-button--white p-button--small" data-pin-do="buttonPin" data-pin-hover="false" data-pin-config="beside" data-pin-color="red" data-pin-height="28">
    {%- render 'component-icon' icon: 'pinterest-3', icon_size: 18 -%}
    <span>ピンする</span>
  </a>
  <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
</div>