{% comment %}
    Renders an article card for a given blog with settings to either show the image or not.

    Accepts:
    - blog: {Object} Blog object
    - article: {Object} Article object

    Usage:
    {% render 'article-card' blog: blog, article: article %}
{% endcomment %}

<article class="article-card" aria-labelledby="Article-{{ article.id }}">
  <a href="{{ article.url }}" class="article-content">
    <!-- Image  -->
    {%- if article.image -%}
      <div class="article-card__image-wrapper">
        <div class="article-card__image">
          <img srcset="
            {%- if article.image.src.width >= 165 -%}{{ article.image.src | img_url: '165x' }} 165w,{%- endif -%}
            {%- if article.image.src.width >= 360 -%}{{ article.image.src | img_url: '360x' }} 360w,{%- endif -%}
            {%- if article.image.src.width >= 533 -%}{{ article.image.src | img_url: '533x' }} 533w,{%- endif -%}
            {%- if article.image.src.width >= 720 -%}{{ article.image.src | img_url: '720x' }} 720w,{%- endif -%}
            {%- if article.image.src.width >= 940 -%}{{ article.image.src | img_url: '940x' }} 940w,{%- endif -%}
            {%- if article.image.src.width >= 1066 -%}{{ article.image.src | img_url: '1066x' }} 1066w{%- endif -%}"
            src="{{ article.image.src | img_url: '533x' }}"
            sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
            alt="{{ article.image.src.alt | escape }}"
            width="{{ article.image.width }}"
            height="{{ article.image.height }}"
            loading="lazy"
            class="motion-reduce"
          >
        </div>
      </div>
    {% else %}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}

    <!-- Content  -->
    <div class="article-card__info">
      <div class="article-card__content">
        <header class="article-card__header">
          <p class="article-card__date">
            {{- article.published_at | date: "%Y/%m/%d" -}}
          </p>
          <h2 class="article-card__title">
            {{ article.title }}
          </h2>
        </header>
      </div>
    </div>
  </a>
</article>
  