<div>
  <v-container-element v-slot="{ counter, up }">
    ${counter}$
    <button @click="up">Click</button>
    <v-counter-component v-slot="{ counter, up }" :initial-value="1"> 
      ${counter}$
      <button @click="up">Click</button>
    </v-counter-component>
  </v-container-element>
</div>