{%- if paginate.parts.size > 0 -%}
  <div class="{{ class | default: 'pagination-wrapper' }}">
    <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
      <ul class="pagination__list list-unstyled" role="list">

      {% unless paginate.previous.is_link %}
        <li class="pagination__icon">
          <button type="button" class="pagination__btn pagination__btn--is-disable" disabled>
            <span>
              {%- render 'component-icon' icon: 'caret', icon_size: 15 -%}
            </span>
          </button>
        </li>
      {% else %}
        <li class="pagination__icon">
          <a href="{{ paginate.previous.url }}{{ anchor }}" class="pagination__item link pagination__btn" aria-label="{{ 'general.pagination.previous' | t }}">
            {%- render 'component-icon' icon: 'caret', icon_size: 15 -%}
          </a>
        </li>
      {% endunless %}

      {%- for part in paginate.parts -%}
        <li class="pagination__number">
          {%- if part.is_link -%}
            <a href="{{ part.url }}{{ anchor }}" class="pagination__item" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
          {%- else -%}
            {%- if part.title == paginate.current_page -%}
              <span class="pagination__item pagination__item--current link" aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
            {%- else -%}
              <span class="pagination__item link">{{ part.title }}</span>
            {%- endif -%}
          {%- endif -%}
        </li>
      {%- endfor -%}

      {% unless paginate.next.is_link %}
        <li class="pagination__icon">
          <button type="button" class="pagination__btn pagination__btn--is-disable" disabled>
            <span>
              {%- render 'component-icon' icon: 'caret', icon_size: 15 -%}
            </span>
          </button>
        </li>
      {% else %}
        <li class="pagination__icon">
          <a href="{{ paginate.next.url }}{{ anchor }}" class="pagination__item link pagination__btn" aria-label="{{ 'general.pagination.next' | t }}" >
            {%- render 'component-icon' icon: 'caret', icon_size: 15 -%}
          </a>
        </li>
      {% endunless %}

      </ul>
    </nav>
  </div>
{%- endif -%}