{%- comment -%}
  Render page header

  Accepts: 

    page_title: {String} Page title. Ex : ITEM, CONTACT,...


  Usage:
    {% render 'component-page-header', page_title: page.title %}

{%- endcomment -%}

<div class="page-header">
  <h1 class="h3">{{ page_title }}</h1>
</div>