{% comment %}
    Renders a list of product's price (regular, sale)

    Accepts:
    - product: {Object} Product Liquid object (optional)
    - use_variant: {Boolean} Renders selected or first variant price instead of overall product pricing (optional)
    - price_class: {String} Adds a price class to the price element (optional)

    Usage:
    {% render 'price', product: product %}
{% endcomment %}

{%- liquid
	if use_variant
		assign target = product.selected_or_first_available_variant
	else
		assign target = product
	endif

	
	assign available = target.available | default: false
	
	if settings.currency_code_enabled
		assign price = target.price | default: 1999 | money_with_currency
		assign compare_at_price = target.compare_at_price | money_with_currency
	else 
		assign price = target.price | default: 1999 | money
		assign compare_at_price = target.compare_at_price | money
	endif
-%}

<div class="price
	{%- if price_class %} {{ price_class }}{% endif -%}
	{%- if available == false %} price--sold-out {% endif -%}
	{%- if compare_at_price > price %} price--on-sale {% endif -%}
	{%- if show_badges %} price--show-badge{% endif -%}">
	<div>

		{%- if available == false -%}
			<span class="price-item price-item--sold-out">
				<span class="p-button p-button--soldout p-button--soldout-badge">SOLD OUT</span>
			</span>
		{%- else -%}
			{%- if compare_at_price > price %}
				<span class="price-item price-item--sale">
					{{ price }}
				</span>
				<span>
					<s class="price-item price-item--regular">{{ compare_at_price }}</s>
				</span>
			{%- else -%}
				<span class="price-item price-item--regular">
					{{ price }}
				</span>
			{% endif -%}
		{%- endif -%}
	</div>
</div>
