{%- comment -%}
Render fully render image from Dawn Theme

Accepts:
- image: {Object} Image from section settings, collection, products...

Usage:
{% render 'component-image', image: image %}

{%- endcomment -%}
{%- if image != blank -%}
<img srcset="{%- if image.width >= 165 -%}{{ image | img_url: '165x' }} 165w,{%- endif -%}
              {%- if image.width >= 360 -%}{{ image | img_url: '360x' }} 360w,{%- endif -%}
              {%- if image.width >= 535 -%}{{ image | img_url: '535x' }} 535w,{%- endif -%}
              {%- if image.width >= 750 -%}{{ image | img_url: '750x' }} 750w,{%- endif -%}
              {%- if image.width >= 1070 -%}{{ image | img_url: '1070x' }} 1070w,{%- endif -%}
              {%- if image.width >= 1500 -%}{{ image | img_url: '1500x' }} 1500w,{%- endif -%}
              {{ image | img_url: 'master' }} {{ image.width }}w"
  src="{{ image | img_url: '1500x' }}"
  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
  alt="{{ image.alt | escape }}" loading="lazy" width="{{ image.width }}"
  height="{{ image.height }}">
{%- else -%}
{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
{%- endif -%}