<script src="{{- 'component-product-slider.js' | asset_url -}}" defer></script>


<product-slider-component>
  <div class="product-image">
    <div id="main-slider" class="splide product-image__main">
      <div class="splide__track">
        <ul class="splide__list">
          {% for media in product.media %}
            <li class="splide__slide">
              {% case media.media_type %}
                {% when 'image' %}
                    <img id ="img-src" data-src="{{ media | img_url: '60x60' }}" src="{{ media | img_url: 'master' }}" alt="{{ media.alt }}">
                {% when 'external_video' %}
                    {{ media | external_video_tag }}
                {% when 'video' %}
                    {% assign srcVideo = media.sources[1].url %}
                    {{srcVideo}}
                    <video className="product-image__video" autoPlay loop playsInline muted>
                      <source src={{srcVideo}} type="video/mp4" />
                    </video>
                {% when 'model' %}
                    {{ media | model_viewer_tag }}
                {% else %}
                    {{ media | media_tag }}
              {% endcase %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div id="thumbnail-slider" class="splide product-image__slide">
      <div class="splide__track">
        <ul class="splide__list">
          {% for media in product.media %}
            <li class="splide__slide">
              {% case media.media_type %}
                {% when 'image' %}
                    <img src="{{ media | img_url: '150x' }}" alt="{{ media.alt }}">
                {% when 'external_video' %}
                    {{ media | external_video_tag }}
                {% when 'video' %}
                    {% assign srcVideo = media.sources[1].url %}
                    {{srcVideo}}
                    <video className="product-image__video" autoPlay loop playsInline muted>
                      <source src={{srcVideo}} type="video/mp4" />
                    </video>
                {% when 'model' %}
                    {{ media | model_viewer_tag }}
                {% else %}
                    {{ media | media_tag }}
              {% endcase %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</product-slider-component>

