{%- comment -%}
  Render a Vue Counter Element ( call and control by Liquid Component - Snippets )

  Accepts:
    initial_value: {Number} Initial value. Ex: 1, 2, 3...
    has_button: {Boolean} With or without increment button ...

  Usages:
    {% render 'component-vue-counter',
      initial_value: 10,
      has_button: true
    %}

{%- endcomment -%}

<v-counter-component v-slot="vm" :initial-value="{{ initial_value }}">
  <span>${vm.counter}$</span>
  {% if has_button %}
  <button @click="vm.up">Click</button>
  {% endif %}
</v-counter-component>