{% comment %}
    Renders a product card component

    Accepts:
    - product_card_product: {Object} Product Liquid object (optional)
    - is_trending: {Boolean} Create trending icon ( on top - left ) of trending product. Default: false

    Usage:
    {%- render 'component-product-card',
      show_vendor: section.settings.show_vendor
    -%}
{% endcomment %}

{%- liquid
	assign is_trending = product_card_product.metafields.trending.istrendingproduct
-%}

<div class="p-product-card">
  <a href="{{ product_card_product.url | default: '#' }}">
    <figure>
      <div class="p-product-card__image">
        {% render 'component-image', image: product_card_product.featured_media %}
      </div>
      <figcaption>
        <div class="p-product-card__title">
          <h3 class="h5">
            {{ product_card_product.title }}
          </h3>
        </div>
  
        <div class="p-product-card__price">
          {% render 'component-price', 
            product: product_card_product,
            use_variant: true,
            price_class: '' 
          %}
        </div>
      </figcaption>
    </figure>
    {%- if is_trending -%}
      <div class="p-product-card__badge p-product-card__badge--trending">
        <img src="https://cdn.shopify.com/s/files/1/0552/9105/2113/files/trending.png?v=1641750594">
      </div>
    {%- endif -%}
  </a>
</div>
