{%- comment -%}
  Render linklist from link_list settings

  Accepts:
    - link_list: { Object } Link list from settings. Example 'main-menu' 
    - bem_class : { String } Parent BEM class

  Usage:

{%- endcomment -%}
<nav class="{{ bem_class }}__navigation">
  <ul class="{{ bem_class }}__menu list-menu" role="list">
    {%- for link in link_list.links -%}
      <li class="{{ link.title | downcase }}">
        {%- if link.links != blank -%}
          <details id="Details-{{ bem_class }}-menu-item-{{ forloop.index }}">
            <summary class="{{ bem_class }}__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} {{ bem_class }}__menu-item--active{% endif %}">
              {{ link.title | escape }}
              {%- render 'component-icon' icon: 'caret', icon_size: 15 -%}
            </summary>
            <div id="link-{{ link.title | escape }}" class="{{ bem_class }}__submenu motion-reduce" tabindex="-1">
              <div class="{{ bem_class }}__inner-submenu">
                <ul class="{{ bem_class }}__menu list-menu" role="list" tabindex="-1">
                  {%- for childlink in link.links -%}
                    <li>
                      {%- if childlink.links == blank -%}
                        <a href="{{ childlink.url }}" class="{{ bem_class }}__menu-item subcategory link link--text list-menu__item focus-inset{% if childlink.current %} {{ bem_class }}__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                          {{ childlink.title | escape }}
                        </a>
                      {%- else -%}
                        <details id="Details-{{ bem_class }}-submenu-{{ forloop.index }}">
                          <summary class="{{ bem_class }}__menu-item link link--text list-menu__item focus-inset">
                            {{ childlink.title | escape }}
                            {%- render 'component-icon' icon: 'caret', icon_size: 15 -%}
                          </summary>
                          <div id="childlink-{{ childlink.title | escape }}" class="{{ bem_class }}__submenu motion-reduce">
                            <button class="{{ bem_class }}__close-button link link--text focus-inset" aria-expanded="true">
                              {%- render 'component-icon' icon: 'caret', icon_size: 15 -%}
                              {{ childlink.title | escape }}
                            </button>
                            <ul class="{{ bem_class }}__menu list-menu" role="list" tabindex="-1">
                              {%- for grandchildlink in childlink.links -%}
                                <li>
                                  <a href="{{ grandchildlink.url }}" class="{{ bem_class }}__menu-item link subcategory link--text list-menu__item focus-inset{% if grandchildlink.current %} {{ bem_class }}__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                    {{ grandchildlink.title | escape }}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          </div>
                        </details>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </div>
          </details>
        {%- else -%}
          <a href="{{ link.url }}" class="{{ bem_class }}__menu-item list-menu__item link link--text focus-inset{% if link.current %} {{ bem_class }}__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
            {{ link.title | escape }}
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>