<div class="zoomywishid zoomywishid-{{product.id}}" data-product-id="{{product.id}}" data-handle="{{product.handle}}"
  data-image="{{product.featured_image | img_url: " 360x"}}"
  data-variantname="{{product.selected_or_first_available_variant.title}}" data-title="{{product.title}}"
  data-variant="{{product.selected_or_first_available_variant.id}}"
  data-price="{{product.selected_or_first_available_variant.price | remove: " ." | remove: "," | divided_by: 100.0 }}">
</div>