.social-networks {
  display: flex;
  font-size: 1rem;

  .social-networks__item {
    padding: 0.5rem;
    margin-right: 1rem;

    svg {
      margin-right: 0.6rem;
    }
  }
}

.form__message, .errors {
  color: red;
  > * {
    color: red;
  }
  margin-top: 10px;
}

.frcp-main .frcp-container .frcp-form__block {
  &:nth-child(2) {
      .frcp-form__input-block:nth-child(2) {
        display: block;
      }
  }
}

.frcp-profile__phone {
  display: none;
}

.frcp-profile-cards-container {
  display: none !important;
}

.frcp-form__block {
  label[for=address_company]
  {
    display: none !important;
  }
  #address_company {
    display: none !important;
  }

  label[for=profile_city]
  {
    display: none !important;
  }
  #profile_phone {
    display: none !important;
  }
  .frcp-profile__email {
    min-width: 100% !important;
  }
  #profile_email {
    background-color: #aaaaaa !important;
  }
}

.frcp-order__info-wrapper{
  flex-direction: row-reverse;
}

.shopify-challenge__button {
  background: #507121;
  color: #fff;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  width: 100px;
  height: 40px;
}

form.frcp-form {
  display: grid;
}

.frcp-form__block {
  //郵便番号
  &:nth-of-type(7) {
    order: 1;
  }
  //都道府県
  &:nth-of-type(6) {
    order: 2;
  }
  //市区町村 国
  &:nth-of-type(5) {
    order: 3;
    .frcp-form__input-block {
      min-width: 100%;
    }

    label[for=address_country], #address_country {
      display: none;
    }
  }
  //建物名、部屋番号など
  &:nth-of-type(4) {
    order: 5;
  }
  //住所
  &:nth-of-type(3) {
    order: 4;
  }
  //現在の住所として設定する。
  &:nth-of-type(9) {
    order: 88
  }

  &:last-child {
    order: 99;
  }
}

.frcp-nav__name::after {
  content: "様";
}

.twitter-product-share-pc {
  display: none !important;
  @include responsive(MD) {
    display: block !important;
  }
}
.twitter-product-share-sp {
  display: block !important;
  @include responsive(MD) {
    display: none !important;
  }
}