.page-header {
  margin-top: 50px;
  > h1 {
    font-family: 'Lato', sans-serif;
    color: $main-green-color;
    border-bottom: 3px solid #b9b9b9;
    font-size: 2em;
    padding-bottom: 0.2em;
    @media (min-width: 768px) {
      padding-bottom: 7px;
    }
    
  }
}