// ==========================================================================
// ## COMPONENT: ARTICLE CARD
// ==========================================================================
@import '../utils/utils-dir';

.article-card {
  
}

.article-content {
  width: 100%;

  display: flex;
  flex-direction: column;

  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
  }

  svg {
    @include box(100%, 400px)
  }
}

.article-card__image-wrapper {
  & > a {
    display: block;
  }
}

.article-card__image {
  display: block;

  overflow: hidden;
  padding-bottom: 66.6%;

  position: relative;

  img {
    object-fit: cover;
    object-position: center center;
  }
}

.article-card__image > *:not(.zoom, .deferred-media__poster-button),
.article-card__image model-viewer {
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  
  @include box(100%, 100%);
  max-width: 100%;
}

/*
* Content
*/
.article-card__info {
  margin-top: 1rem;
}

.article-card__header {
  display: flex;
  flex-direction: column;

  .article-card__date {
    line-height: 120%;
    font-size: 1.6rem;

    letter-spacing: 1px;
    text-transform: uppercase;
    color: #aaaaaa;

    margin: 1rem 0 0.6rem;
  }

  .article-card__title {
    font-size: 2.4rem;
    line-height: 122%;
    font-weight: 400;
  }
}