/*
* Image
*/
@import '../utils/utils-dir';

.background__img  > *:not(.zoom, .deferred-media__poster-button),
.background__img  model-viewer {
  display: block;

  max-width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  @include box(100%, 100%);
}

.background__img  > img {
  object-fit: cover;
  object-position: center center;
  transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.background__img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;

  svg {
    fill: white;
    background-color: #333
  }
}

.background__img,
.background__img-mobile, .placeholder-2,
.background__img-desktop, .placeholder-1 {
  @include box(100%, 100%);
}

.background__img-desktop, .placeholder-1 {
  display: none;
}

@include responsive(MD) {
  .background__img-mobile, .placeholder-2 {
    display: none;
  }
  .background__img-desktop, .placeholder-1 {
    display: block;
  }
}
