// ==========================================================================
// ## COMPONENT: PAGGINATION
// ==========================================================================
@import '../utils/utils-dir';

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  li {
    display: flex;
    align-items: center;
    border-left: 1px solid #dcdcdc;
    &:first-child {
      border-left: none; 
      button, a {
        border-radius: 4px 0 0 4px;
        overflow: hidden;
        border: 1px solid #dcdcdc;
        border-right: none;
      }
    }

    &:last-child {
      a, button {
        border-radius: 0 4px 4px 0;
        overflow: hidden;
        border-right: 1px solid #dcdcdc;
      }
    }

    a, button, span {
      display: flex;
      box-sizing: border-box;
      -webkit-box-pack: center;
      justify-content: center;
      -ms-flex-align: center;
      align-items: center;

      @include box(4.2rem, 4.2rem);
      font-size: 1.6rem;
      text-decoration: none;
      line-height: 1;
      color: #333;
      border-top: 1px solid #dcdcdc;
      border-bottom: 1px solid #dcdcdc;
    }
  }

  .pagination__icon {
    &:first-child {
      svg {
        transform: rotate(90deg);
      }
    }

    &:last-child {
      svg {
        transform: rotate(-90deg);
      }
    }
  }
}

.pagination__item {
  text-align: center;
  text-decoration: none;

  border: none;

  color: $main-green-color;

  display: flex;
  justify-content: center;
  align-items: center;
  // active
  &.pagination__item--current.link {
    color: #fff;
    background: $main-green-color;
  }
}

.pagination__btn--is-disable {
  pointer-events: none;
  user-select: none;

  path, line {
    stroke: #ccc;
  }
}