// ==========================================================================
// ## COMPONENT: PREDICTIVE SEARCH
// ==========================================================================
@import '../utils/utils-dir';

.header__icon-left {
  position: relative;
}

.header__search-bar {
  position: relative;
  display: none;
  @include responsive(MD) {
    display: block;
  }

  &.is-active {
    .header__search-wrapper {
      opacity: 0;
      visibility: hidden;
    }

    .header__btn {
      visibility: visible;
      opacity: 1;
    }

    .header__search-input {
      padding-right: 40px;
      padding-left: 12px;
      width: 300px;
      border: 1px solid #ddd;
      background-color: white;
    }
  }

  .header__search-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
    text-decoration: none;
    border: 0;
    border-radius: 4px;
    padding: rem(12px) rem(18px);

    background: #507120;
    color: #fff;

    opacity: 1;
    visibility: visible;
  
    cursor: pointer;
    user-select: none;
    appearance: none;
    transition: all 200ms ease-in;
  }

  .header__search-form {
    position: relative;
  }

  .header__btn {
    visibility: hidden;
    opacity: 0;
    transition: all 200ms ease-in;

    background: none;
    color: #8c8c8c;
    position: absolute;
    top: 0;
    right: 0;
  }

  .header__search-input {
    -webkit-box-sizing: border-box;
    font-family: $font-heading-family;
    font-style: $font-heading-style;
    font-weight: $font-heading-weight;
    box-sizing: border-box;
    padding: 0;
    width: 0;
    height: 40px;
    border-radius: 4px;
    font-size: 1.4rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: text;

    transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out, padding-left 0.3s ease-in-out;
  }
}