// ==========================================================================
// ## COMPONENT: PRODUCT CARD
// ==========================================================================
@import '../utils//utils-dir';

.p-product-card {
  position: relative;
  margin-bottom: 4rem;

  svg {
    width: 100%;
    height: auto;
  }
}
.p-product-card__image {
  margin-bottom: 1rem;

  img {
    width: 100%;
    height: auto;
  }
}

.p-product-card__title {
}

.p-product-card__badge--trending {
  position: absolute;
  top: -1.6rem;
  left: -1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  @include responsive(MD) {
    width: 7rem;
    height: 7rem;
    top: -1.9rem;
    left: -1.9rem;
  }
}