{{ 'section-main-customer.css' | asset_url | stylesheet_tag }}
{{ 'section-main-login.css' | asset_url | stylesheet_tag }}

<div class="customer login p-container">
  {% assign recover = 'customer.recover_password.title' | t %}
  <div id="recover" class="p-col-md-8">
    {% render 'component-page-header', page_title: recover %}
    <!-- {{ 'customer.recover_password.title' | t }} -->
    <!-- <h3 class="customer-desc">会員登録をしていただくと、次回のご注文から住所やお支払方法の入力を省略することができます。</h3> -->

  </div>

  <div>
    <p>
      {{ 'customer.recover_password.subtext' | t }}
    </p>

    {%- form 'recover_customer_password' -%}
      {% assign recover_success = form.posted_successfully? %}
      <div class="field p-row">
        <label class="p-col-2" for="RecoverEmail">
          {{ 'customer.login_page.email' | t }}
        </label>
        <input 
          class="p-col-12 p-col-md-8 p-col-lg-6 p-col-xl-5"
          type="email"
          value=""
          name="email"
          id="RecoverEmail"
          autocorrect="off"
          autocapitalize="off"
          autocomplete="email"
          {% if form.errors %}
            aria-invalid="true"
            aria-describedby="RecoverEmail-email-error"
            
          {% endif %}
          placeholder="{{ 'customer.login_page.email' | t }}"
        >
      </div>
      {%- if form.errors -%}
        <div id="RecoverEmail-email-error" class="form__message">
          {{ form.errors.messages['form'] }}
        </div>
      {%- endif -%}

      <button class="p-button">
        {{ 'customer.login_page.submit' | t }}
      </button>

      <a href="#login">
        {{ 'customer.login_page.cancel' | t }}
      </a>
    {%- endform -%}
  </div>

  {% assign login = 'customer.login_page.title' | t %}
  <div id="login" tabindex="-1" class="p-col-md-8">
    {% render 'component-page-header', page_title: login %}
    <!-- {{ login }} -->
    <!-- <h3 class="customer-desc">会員登録をしていただくと、次回のご注文から住所やお支払方法の入力を省略することができます。</h3>
    <p class="customer-text">会員登録をしていただくと</p> -->
  </div>

  <div>
    {%- if recover_success == true -%}
      <h3 class="form__message" tabindex="-1">
        {{ 'customer.recover_password.success' | t }}
      </h3>
    {%- endif -%}
    {%- form 'customer_login', novalidate: 'novalidate' -%}
      {%- if form.errors -%}
        <h2 class="form__message" tabindex="-1">
          {{ 'templates.contact.form.error_heading' | t }}
        </h2>
        {{ form.errors | default_errors }}
      {%- endif -%}

      <div class="field p-row">        
        <label class="p-col-2" for="CustomerEmail">
          {{ 'customer.login_page.email' | t }}
        </label>
        <div
          class="p-col-12 p-col-md-8 p-col-lg-6 p-col-xl-5"
          >
          <input
            type="email"
            name="customer[email]"
            id="CustomerEmail"
            autocomplete="email"
            autocorrect="off"
            autocapitalize="off"
            {% if form.errors contains 'form' %}
              aria-invalid="true"
            {% endif %}
            placeholder="{{ 'customer.login_page.email' | t }}"
          >
          {%- render 'component-icon' icon: 'email', icon_size: 25 -%}
        </div>
      </div>

      {%- if form.password_needed -%}
        <div class="field p-row">          
          <label for="CustomerPassword" class="p-col-2" >
            {{ 'customer.login_page.password' | t }}
          </label>
          <div
            class="p-col-12 p-col-md-8 p-col-lg-6 p-col-xl-5"
          >
            <input
              type="password"
              value=""
              name="customer[password]"
              id="CustomerPassword"
              autocomplete="current-password"
              {% if form.errors contains 'form' %}
                aria-invalid="true"
              {% endif %}
              placeholder="{{ 'customer.login_page.password' | t }}"
            >
            {%- render 'component-icon' icon: 'key', icon_size: 25 -%}
          </div>
        </div>

        <a href="#recover">
          {{ 'customer.login_page.forgot_password' | t }}
        </a>
      {%- endif -%}

      <button class="p-button">
        {{ 'customer.login_page.sign_in' | t }}
      </button>

      <a href="{{ routes.account_register_url }}">
        {{ 'customer.login_page.create_account' | t }}
      </a>
      
    {%- endform -%}
  </div>
  
  {%- if shop.checkout.guest_login -%}
    <div class="guest_login">
      <h2>{{ 'customer.login_page.guest_title' | t }}</h2>

      {%- form 'guest_login' -%}
        <button class="p-button">
          {{ 'customer.login_page.guest_continue' | t }}
        </button>
      {%- endform -%}
    </div>
  {%- endif -%}
</div>
