{{ 'section-main-login.css' | asset_url | stylesheet_tag }}
{{ 'section-main-reset-password.css' | asset_url | stylesheet_tag }}

<div class="customer reset-password p-container">
  <svg style="display: none">
    <symbol id="icon-error" viewBox="0 0 13 13">
      <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
      <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
      <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
      <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
    </symbol>
  </svg>

  {% assign reset_password = 'customer.reset_password.title' | t %}
  <div class="p-col-md-8">
    {% render 'component-page-header', page_title: reset_password %}
    <!-- {{ 'customer.recover_password.title' | t }} -->
    <h3 class="customer-desc">会員登録をしていただくと、次回のご注文から住所やお支払方法の入力を省略することができます。</h3>

  </div>
  <p>
    {{ 'customer.reset_password.subtext' | t: email: email }}
  </p>
  {%- form 'reset_customer_password' -%}
    {%- if form.errors -%}
      <h2 class="form__message" >
        <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
        <svg aria-hidden="true" focusable="false" role="presentation">
          <use href="#icon-error" />
        </svg>
        {{ 'templates.contact.form.error_heading' | t }}
      </h2>
      <ul>
        {%- for field in form.errors -%}
          <li>
            {%- if field == 'form' -%}
              {{ form.errors.messages[field] }}
            {%- else -%}
              <a href="#{{ field }}">
                {{ form.errors.translated_fields[field] | capitalize }}
                {{ form.errors.messages[field] }}
              </a>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}

    <div class="field p-row">      
      <input
        class="p-col-12 p-col-md-8 p-col-lg-6 p-col-xl-5"
        type="password"
        name="customer[password]"
        id="password"
        autocomplete="new-password"
        {% if form.errors contains 'password' %}
          aria-invalid="true"
          aria-describedby="password-error"
        {% endif %}
        placeholder="{{ 'customer.reset_password.password' | t }}"
      >
      {%- if form.errors contains 'password' -%}
        <div id="password-error" class="form__message">
          {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}
        </div>
      {%- endif -%}
    </div>

    <div class="field p-row">      
      <input
        class="p-col-12 p-col-md-8 p-col-lg-6 p-col-xl-5"
        type="password"
        name="customer[password_confirmation]"
        id="password_confirmation"
        autocomplete="new-password"
        {% if form.errors contains 'password_confirmation' %}
          aria-invalid="true"
          aria-describedby="password_confirmation-error"
        {% endif %}
        placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
      >
      {%- if form.errors contains 'password_confirmation' -%}
        <div id="password_confirmation-error" class="form__message">
          {{ form.errors.translated_fields['password_confirmation'] | capitalize }} {{ form.errors.messages['password_confirmation'] }}
        </div>
      {%- endif -%}
    </div>

    <button class="p-button">
      {{ 'customer.reset_password.submit' | t }}
    </button>
  {%- endform -%}
</div>
