// ==========================================================================
// ## SHOPIFY STATIC SECTION: FOOTER
// ==========================================================================
footer.footer {
  margin: 70px 0;

  .p-row {
    justify-content: space-between;
    align-items: center;
  }

  .tippy-box[data-theme~=light] {
    top: -20px;
    box-shadow: 0px 5px 6px 0px #a09f9f;
    position: relative;
    background-color: #eeeeee;

    &::before {
      content: '';
      position: absolute;
      top: 100%;
      right: 50%;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-top: 10px solid #eeeeee;
      
    }
  }
}

.footer__text {
  font-size: 1.7rem;
  order: 1;
  width: 100%;
  text-align: center;
  margin-top: 20px;

  @include responsive(MD) {
    display: initial;
    order: unset;
    width: unset;
    text-align: unset;
    margin-top: unset;
  }
}

.footer__left {
  margin-left: 1.5rem;
}

.footer__right {
  margin-right: 1.5rem;
  order: 0;

  @include responsive(MD) { 
    order: unset;
  }
}

#footer-icon-share-wrapper {
  display: flex;
  flex-direction: column;
  padding: 5px;

  a {
    background: #fff;
    justify-content: flex-start;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  svg {
    margin-right: 10px;
  }

  .social-networks__item {
    margin-right: unset;
  }
}

#footer-icon-info-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 10px;

  a {
    color: #919191;
    position: relative;
    display: block;

    &:not(:first-child) {
      margin-top: 5px;
    }

    &::before {
      position: absolute;
      top: 5px;
      left: -10px;
      width: 0;
      height: 0;
      border-width: 4px 0 4px 6px;
      border-style: solid;
      border-color: transparent transparent transparent #bbb;
      content: "";
    }
  }
    
}

.twitter-share-pc {
  display: none;
  @include responsive(MD) {
    display: block;
  }
}
.twitter-share-sp {
  display: block;
  @include responsive(MD) {
    display: none;
  }
}