// ==========================================================================
// ## SHOPIFY STATIC SECTION: HEADER
// ==========================================================================

.header {
  position: relative;
  ul {
    padding: 0;
    list-style-type: none;
  }

  .placeholder-svg {
    width: 200px;
    height: 200px;
    border: 1px solid rgb(218, 218, 218);
  }

  .p-button--mobile {
    svg {
      fill: none !important;
    }
  }
}

.header__fixed {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  
  top: 0px;
  z-index: 9;
  // width: 100vw;

  @include responsive(MD) {
    padding: 20px 30px;
  }

  svg {
    fill: none;
  }

  .header__icon-right {
    position: fixed;
    z-index: 10;
    right: 15px;
    display: flex;
    justify-content: center;
    width: fit-content;
    transition: all .3s;
    @include responsive(MD) {
      right: 30px;
    }

    .p-button--login {
      display: none;

      @include responsive(MD) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .header--expand & {
      opacity: 0;
    }

    a, span {
      margin-left: 5px;
    }

    .p-button--cart {
      .header--expand & {
        opacity: 0;
        transition: .3s;
      }
    }
  }
  .header__icon-left {
    position: fixed;
    z-index: 10;
    // width: fit-content;
    // margin-right: auto;

    .p-button--search {
      display: none;
      @include responsive(MD) {
        display: initial;
      }
    }
    .p-button--menu {
      @include responsive(MD) {
        display: none;
      }

      svg {
        fill: currentColor;
      }
    }
  }
}

.header__logo {
  width: 100%;
  @include flex-center;
  margin-top: 2rem;

  img {
    width: 66px;
    height: auto;
  }
}

.header__breakline {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  position: relative;
  overflow: hidden;
  
  h1 {
    position: relative;

    img {
      width: 62.5%;
    }

    &::before {
      content: '';
      position: absolute;
      right: 285px;
      top: 25px;
      width: 100vw;
      height: 1px;
      background-color: black;
    }
  
    &::after {
      content: '';
      position: absolute;
      left: 285px;
      top: 25px;
      width: 100vw;
      height: 1px;
      background-color: black;
    }

  }

  div {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    img {
      width: 62.5%;
    }

    &::before {
      content: '';
      position: absolute;
      right: 285px;
      top: 60%;
      width: 100vw;
      height: 3px;
      background-color: $main-green-color;
    }
  
    &::after {
      content: '';
      position: absolute;
      left: 285px;
      top: 54%;
      width: 100vw;
      height: 3px;
      background-color: $main-green-color;
    }

  }
}

// Normal Menu
.header__menu {
  position: relative;
  // z-index: 23;
}
.header__main {
  display: none;
  @include responsive(MD) {
    display: initial;
  }
}
.header__main .menu_desktop__navigation {
  display: flex;
    justify-content: center;
    z-index: 3;
  > ul {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @include responsive(LG) {
      width: 850px;
    }
    // margin: 0 auto;

    > li {
      padding: 10px 20px;
      position: relative;
    }

    > li:not(:last-child):after {
      content: '';
      position: absolute;
      top: 18px;
      right: 0;
      width: 1px;
      height: 20px;
      background-color: black;
    }

    li.category {
      .menu_desktop__menu-item {
        font-size: 23px;
        font-family: Lato,sans-serif;
      }

      .menu_desktop__menu-item.subcategory {
        font-size: 20px;
        color: #646464;
      }

      &::after {
        background-color: transparent;
      }
    }
    
  }

  .menu_desktop__list {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: 100%;
      left: 0;
      width: 100%;
      height: 20px;
    }

    &:hover {
      cursor: pointer;
      
      .menu_desktop__inner-submenu ul {
        opacity: 1;
        visibility: visible;
      }
    }

    a {
      font-size: 23px;
      font-family: Lato,sans-serif;
    }
  }

    .menu_desktop__inner-submenu {
      ul {
        @include flex-center;
        flex-direction: column;
        padding: 15px;
        position: absolute;
        top: 100%;
        min-width: 140px;
        z-index: 9;
        background-color: #fff;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 5px;
        box-shadow: 2px 2px 4px rgb(0 0 0 / 20%);
        align-items: flex-start;

        opacity: 0;
        visibility: hidden;
        transition: all .3s;


        li {
          font-family: Lato,sans-serif;
          line-height: 1.8;
        }
      }
    }
  }

// Drawer Mobile Menu
.header__drawer-container {
  position: relative;
  z-index: 11;
  overflow-y: auto;
  z-index: 9999999999;

  .p-button--close {
    position: fixed;
    left: 0;
    top: 20px;
    margin-left: 5px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    .header--expand & {
      left: 266px;
      opacity: 1;
      visibility: visible;
    }
  }
}

.header__drawer {
  background-color: #000;
  padding: 30px 0;
  color: #fff;
  position: fixed;
  width: 260px;
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  top: 0;
  left: -260px;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  z-index: 999;

  &::-webkit-scrollbar {
    display: none;
  }

  .header--expand & {
    left: 0;
    opacity: 1;
    visibility: visible;
    overflow-y: auto;

    &:after {
      content: '';
      position: absolute;
      width: 100vw;
      height: 100vh;
      left: 100%;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgb(0, 0, 0);
      opacity: 0.2;
      z-index: -9;
      transition: .3s;
    }
  }

  .menu_drawer__navigation {
    margin-top: 30px;
  }
}

.menu-customer__list {
  position: absolute;

  top: calc(100% + 5px);
  right: -32px;
  padding: 10px !important;
  min-width: 140%;
  
  text-align: left;

  background-color: #fff;
  color: #000;
  box-shadow: 5px 3px 6px 0px #a09f9f;
  border-radius: 4px;

  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;

  clear: both;

  li:not(:first-child) {
    margin-top: 5px;
  }

  a {
    font-size: 1.3rem;
  }
}

.p-button--customer {
  text-transform: uppercase;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    width: 100%;
    height: 10px;
  }

  &:hover .menu-customer__list {
    opacity: 1;
    visibility: visible;
  }
}

.header__drawer-search.header__search-bar {
  display: block;
  padding: 0 20px;

  form {
    input, button {
      background: #fff;
    }
    input {
      width: 100% !important;
    }
  }
}

.menu_drawer__menu {
  li {
    padding: 1.2rem 0;
    border-bottom: 1px solid #2d2d2d;
  }

  .official {
    display: none;
  }

  details {
    li {
      margin-left: 10px;
      border: none;
    }
  }
}

.header__drawer-customer {
  margin-top: 1rem;

  .header__drawer-customer-group {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      border-radius: 4px;
      width: 48%;
      font-size: 1.4rem;
      text-align: center;
      color: #fff;
      background-color: #393939;
      border: 1px solid #575757;
      padding: 13px 0;
      display: inline-block;
      text-decoration: none;
    }
  }

  .header__drawer-login {
    display: block;
    padding: 1.2rem 0;
    border-bottom: 1px solid #2d2d2d;
    font-weight: 600;
    margin-top: 1.2rem;
  }
}

.header__drawer {
  .header__drawer--account {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
  }

  .header__drawer-customer--logout {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header__drawer-login{
    border-top: 1px solid #575757;
    border-bottom: 1px solid #575757;
    background-color: #393939;
    position: relative;
    padding: 10px 20px;
    line-height: 30px;

    &::after {
      position: absolute;
      top: 22px;
      right: 20px;
      width: 0;
      height: 0;
      border-width: 6px 5px 0;
      border-style: solid;
      border-color: #fff transparent transparent transparent;
      content: "";
    }
  }

  .drawer-customer__list {
    display: none;

    .is-expand & {
      display: block;
    }
  }

  .drawer-customer__item {
    width: 100%;

    a {
      width: 100%;
      text-align: left;
      display: inline-block;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .menu_drawer__navigation {
    padding: 0 20px;
    height: 120vh;
  }
}

.p-button--cart {
  position: relative;

  .cart-count {
    position: absolute;
    top: -4px;
    right: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    background-color: #9b1b22;
    color: #fff;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;

    &.is-active {
      opacity: 1;
      visibility: visible;
    }
  }
}