/**************************\
  Basic Modal Styles
\**************************/
@import '../utils/utils-dir';


.modal {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal__container {
  background-color: #fff;
  padding: 20px;
  width: 98%;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
  margin: 0 auto;

  @include responsive(MD) {
    width: 700px;
  }
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}


.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before { 
  content: "\2715"; 
}

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}



/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.column-title {
  width: 50%;

  @include responsive(MD) {
    width: 55%;
  }
}

.column-price {
  width: 15%;

  @include responsive(MD) {
    width: 10%;
  }
}

.column-input {
  width: 20%;
}

.column-total {
  width: 15%;
  text-align: right !important;
}

.cart-popup {
  .modal__container {
    position: relative;
  }

  .modal__title {
    color: #000;
  }

  .cart-popup__content {
  }

  tr, td, th {
    text-align: center;
    font-size: 13px;

    @include responsive(MD) {
      font-size: 1.5rem;
    }
  }

  th {
    border-bottom: 2px dotted #e5e5e5;
    padding-bottom: 12px;
    font-weight: normal;
    color: #a1a1a1;
  }

  .table-container {
    max-height: 300px;
    overflow:hidden scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  table {
    border-collapse: separate;
    border-spacing: 0 15px;
    border-bottom: 2px dotted #e5e5e5;
    border-top: 2px dotted #e5e5e5;
  }

  .row-item {
    display: flex;
    align-items: center;
  
    svg {
      margin-right: 10px;
      width: 13px;
      height: 13px;

      @include responsive(MD) {
        width: 15px;
        height: 15px;
      }
    }

    path {
      stroke: #a9a9a9;;
    }

    img {
      margin-right: 20px;
      display: none;

      @include responsive(MD) {
        display: initial;
      }
    }

    .cart-item__title {
      font-size: 1.3rem;

      @include responsive(MD) {
        font-size: 1.5rem;
      }
    }
  }

  .cart-item__image {
    display: flex;
    align-items: center;
  }

  .row-quantity {
    .js-input-number {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    input {
      width: 30px;
      text-align: center;
      height: 25px;
      font-size: 1.3rem;

      @include responsive(MD) {
        width: 50px;
        font-size: 1.5rem;
      }
    }

    button {
      width: 20px;
      height: 20px;
      background-color: #ccc;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      @include responsive(MD) {
        width: 25px;
        height: 25px;
      }
    }
  }

  .row-total {
    text-align: right;
  }

  .total__price {
    display: flex;
    flex-direction: column;

    margin-top: 20px;

    @include responsive(MD) {
      align-items:  flex-end;
      margin-top: unset;
    }

    .total__price-text {
      margin-right: 40px;
    }

    .svelte-header.svelte-98nrpu .svelte-header__header-content .svelte-header__header-content__icon--close.svelte-98nrpu {

    }

    .price {
      display: flex;

      @include responsive(MD) {
        justify-content: flex-end;
      }
    }
  }

  .checkout__btns {
    width: 100%;
    margin: 25px auto 0;

    @include responsive(MD) {
      width: 60%;
      margin: 40px auto 0;
    }

    .btn__checkout {
      width: 100%;
      height: 60px;
      font-size: 16px;
      font-weight: bold;
    }

    .btn__checkout--login {
      margin-bottom: 15px;
      color: #fff; 
    }

    .btn__checkout--nologin {
      color: #000;
      background: #d9d9d9;
    }
  }

  .table-footer {
    margin-top: 30px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

    @include responsive(MD) {
      flex-direction: row;
      // align-items: center;
    }

  }
}

.table-timeinput-group {
  label {
    display: inline-block;
    min-width: 100px;
  }

  input, select {
    padding: 5px 10px;
    border: 2px solid #ccc;
    width: 180px;
    box-sizing: border-box;
    height: 38px;
  }

  select {
    appearance: auto;
    -webkit-border-radius: 0px;
    @media (min-width: 768px) {
      margin-left: 5px;
    }
  }

  .table-date {
    margin-bottom: 5px;
  }
}

#modal-1 {
  .modal__container {
    width: 98%;

    @include responsive(LG) {
      width: 1000px;
      min-height: 70vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
}