@import '../utils/utils-dir';

.feature-products {
  margin-top: 4rem;

  .feature__heading {
    margin-bottom: 25px;
  }

  .feature__btn {
    margin: 10px auto 0;
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: center;

    @include responsive(MD) {
      width: 300px;
    }
  }
}