@import '../utils/utils-dir';

#modal-login {
  .modal__container {
    max-width: 500px;
    padding: 30px;
  }

  .modal__header {
    padding-bottom: 20px;
    border-bottom: 2px dotted #e5e5e5 ;
  }

  .modal__title {
    color: #000;
  }

  input {
    height: 50px;
    background-color: #fff;
    border-style: unset;
    border: 1px solid #aaaaaa;
    width: 100%;
    border-radius: 4px;
    
    padding-left: 45px;
  }

  .field {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      color: #999999;
    }
  }

  .p-button {
    display: flex;
    justify-content: center;
    height: 60px;
    width: 100%;
    line-height: 50px;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 2rem;
  }

  #form-recover,
#form-recover + div {
  display: none;
}

#form-recover:target {
  display: block;
}

#form-recover:target + div {
  display: block;
}

#form-recover:target ~ #form-login,
#form-recover:target ~ #form-login + div {
  display: none;
}

#form-recover,
#form-login {
  scroll-margin-top: 20rem;
}

#form-recover {
  margin-bottom: 0;
}

.form-recover, .form-register, .form-login {
  display: block;
  width: 100%; 
  text-align: center;
  color: #507120;
}

.form-register, .form-login {
  margin-top: 30px;
}

.form-recover {
  margin-top: 10px;
}

.recover-form {
  label {
    line-height: 40px;
  }

  input {
    padding-left: 10px;
  }
}
}