.frcp-app, .frcp-main {
  background: unset;
  a {
    background: unset;
  }
}

.frcp-app {
  .frcp-form {
    input {
      background-color: #fff;
    border-style: unset;
    border: 1px solid #aaaaaa;
    }
  }
}