@import '../utils/utils-dir';

.sns-template {
  
  svg {
    fill: #fff;
    background: #333;
  }
}

.sns__content {
  margin-top: 40px;
}

.sns__card {
  display: block;
  margin-bottom: 4rem;
  
  @include responsive(LG) {
    margin-bottom: 6rem;
  }
  &:hover {
    text-decoration: none;
  }
}

.sns__card-top {
  @include responsive(MD) {
    display: flex;
  }

  .sns__card-image {
    img, svg {
      @include box(100%, auto);
    }
  }

  .sns__card-title {
    margin-top: 1.6rem;
    h3 {
      font-weight: 600;
      font-size: 2rem;
      margin-bottom: 0.6rem;
      @include responsive(LG) {
        font-size: 2.4rem;
      }
    }
    svg {
      @include box(6rem, 6rem);
      border-radius: 100%;
      @include responsive(LG) {
        @include box(8rem, 8rem);
      }
    }
  }
}

.sns__card-content {
  margin-top: 2rem;
  font-size: 1.6rem;
  @include responsive(LG) {
    font-size: 2rem;
  }
}

.sns__fb_mobile {
  display: none;
}
.sns__fb_pc {
  display: block;
}
@media (max-width: 767px) {
  .sns__fb_mobile {
    display: block;
  }
  .sns__fb_pc {
    display: none;
  }
}