.section-text-w-icons {
  width: 100%;
  margin-top: 7rem;
}

.text-w-icons__content {
  display: flex;
  justify-content: space-between;
}

.text-w-icons__card {
  width: calc(33.33% - 10px);
  position: relative;
  padding-right: 5px;
  padding-left: 5px;
  &:hover {
    text-decoration: none;
  }

  &:not(:last-child)::after {
    content: "";
    display: flex;
    position: absolute;
    top: 0;
    right: 0px;
    width: 0.1rem;
    height: 96%;
    background: #d2d2d2;
  }
}

.text-w-icons__card-image {
  display: flex;
  justify-content: center;
  svg, img {
    width: auto;
    height: 8rem;
    object-fit: cover;

    @media screen and (min-width: 768px) {
      width: auto;
      height: 12rem;
    }
    @media screen and (min-width: 992px) {
      height: 15rem;
    }
  }

  svg {
    fill: #fff;
    background: #333;
  }
}

.text-w-icons__info {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 1.4rem;

  .text-w-icons__title {
    color: #a0485e;
    margin-bottom: 0.2rem;
  }
}
