.about-tempalate {}

.about-template-wrapper {
  margin-top: 4rem;
}

.about-template-top {
  display: flex;
}

.about-template__logo {
  padding: 0 4rem;
}

.about-template__heading {
  h3 {
    font-size: 2rem;
    font-weight: 600;
  }

  p {
    margin-top: 0.6rem;
    color: #a0a0a0;
  }
}

.about-template__social {
  margin-top: 1rem;
  display: none;
  a {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

.about-template-content {
  margin-top: 4rem;
  p {
    font-size: 1.6rem;
  }
}