.terms-of-service__content {
  margin-top: 4rem;
  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 3rem;
  } 

  p {
    padding: 1rem 0;
    font-size: 1.8rem;
  }
}