@import '../utils/utils-dir';

.contact-template {
  button, input, select, textarea {
    background-color: #fff;
    border-style: unset;
    border: 1px solid #aaaaaa;
    width: 100%;
    border-radius: 4px;
    padding: 5px 5px;
  }

  form {
    // .p-row {
    //   margin: 0;
    // }

    // .p-col-2 {padding-left: 0;}
    // .p-col-10 {
    //   padding-right: 0;
    // }
  }
}

.contact__field-item {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  position: relative;

  h3 {
    margin-bottom: 1rem;
    @include responsive(MD) {
      margin-bottom: 0;
    }
  }

  &::after {
    content: '';
    display: block;
    background: #aaa;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 100%;

    @include responsive(LG) {
      width: 88%;
    }
    @include responsive(LG) {
      width: 74%;
    }
  }

  .contact__field-line {
    width: 100%;
    height: 1px;
    background: #aaa;
  }

  @include responsive(MD) {
    padding: 3rem 0;
  }

  input { height: 40px }

  input, textarea {
    padding-left: 6px;
    @include responsive(MD) {
      padding-left: 12px;
    }
  }
}

.contact__field-group {
  display: flex;
  justify-content: space-between;
  @include responsive(LG) {
    justify-content: initial;
  }
  .field {
    display: flex;
    align-items: center;
    width: 48%;

    @include responsive(LG) {
      width: 45%;

      &:nth-child(1) {
        margin-right: 3rem;
      }
    }

    label {
      padding-right: 6px;
    }
  }
}

.contact__field-item-comment {
  align-items: flex-start;
  &::after {
    display: none;
  }
  h3 {
    margin-top: 1rem;
  }
}

.contact__button {
  margin-top: 2rem;
  justify-content: center;
  @include responsive(MD) {
    justify-content: flex-start;
  }
  @include responsive(MD) {
    margin-top: 3rem;
  }
  @include responsive(LG) {
    margin-top: 4rem;
  }
  h3 {
    display: none;
    @include responsive(MD) {
      display: flex !important;
    }
  }
  button {
    width: 200px;
    height: 60px;
    background: #507121;
    color: #fff;
    border-radius: 10px;
    font-size: 18px;
    margin-left: 15px;
    font-weight: 600;

    @include responsive(MD) {
      width: 300px;
      height: 72px;
    }
    @include responsive(LG) {
      width: 400px;
      height: 80px;
    }
  }
}