// ==========================================================================
// ## SHOPIFY STATIC SECTION: MAIN LOGIN
// ==========================================================================
@import '../utils/utils-dir';

.customer {
  input {
    background: #fff;
  }

  &.login {
    max-width: unset !important;

  }
  .p-col-md-8 {
    margin: 0 auto;
  }

  .customer-desc {
    text-align: center;
    margin: 3rem 0;
    font-weight: 600;
  }

  input {
    background-color: #fff;
    border-style: unset;
    border: 1px solid #aaaaaa;
    width: 100%;
    border-radius: 4px;
    height: 40px;
    padding-left: 48px;
  }

  &.login .field + a {
    margin: 0 auto !important;
    padding-top: 1rem;
  }

  .field {
    align-items: center;
    @include responsive(MD) {
      justify-content: center;
    }
    @include responsive(LG) {
      input {
        height: 50px;
      }
    }
    
    div {
      position: relative;
    }

    svg {
      position: absolute;
      left: 26px;
      top: 6px;
      @include responsive(LG) {
        top: 12px;
      }
      * {
        fill: #aaa;
        color: #aaa;
      }
    }
  }

  .p-col-2 {
    display: none;
  }

  .form__message {
    svg {
      @include box(2rem, 2rem);
    }
  }
  .errors {
    display: flex;
    justify-content: center;
    ul {
      padding-left: 0;
    }
  }

  .p-button {
    font-size: 1.6rem;
    padding: 1.4rem 2.8rem;
    width: 200px;
    @include responsive (LG) {
      width: 300px;
      padding: 1.8rem;
    }
  }
}

.guest_login {
  margin-top: 2rem;
  h2 {
    font-size: 1.6rem;
  }
  form {
    margin-top: 2rem;
  }
}