// ==========================================================================
// ## SHOPIFY STATIC SECTION: MAIN ARTICLE
// ==========================================================================

@import '../utils/utils-dir';

.article-template {
  .p-row {
    justify-content: center;
  }
}

.article-template__img {
  margin-top: 40px;
  img {
    @include box(100%, auto);
    @include responsive(MD) { 
      @include box(50%, auto);
    }
  }
}

.article-template-info {
  margin-top: 1.6rem;
  .article-template-info__date {
    line-height: 120%;
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #aaaaaa;
    margin: 1rem 0 0.6rem;
  }
  .article-template-info__title {
    font-size: 2.4rem;
    line-height: 122%;
    font-weight: 400;
  }
}

.article-template__content {
  margin-top: 30px;
}