@import '../utils/utils-dir';

.specified-group {
  .specified-item:last-child {
    border-bottom: none;
  }
}

.specified-item {
  padding: 2rem 0;
  border-bottom: 2px dotted #9a9a98;

  margin: 0;

  .p-col-3 {
    margin-left: -15px;
  }
  .p-col-9 {
    margin-right: -15px;
  }

  .specified-item-link {
    color: $main-green-color;
    cursor: pointer;
  }
}