// ==========================================================================
// ## SHOPIFY STATIC SECTION: MAIN PRODUCT
// ==========================================================================
@import '../utils/utils-dir';

.product-page {
  margin-top: 5rem;

  .product__shiping {
    margin-bottom: 10px;

    button {
      color: #507120;
    }
  }
}

#thumbnail-slider {
  margin-top: 1rem;

  .splide__slide.is-active {
    border: none;
    opacity: 0.4;
  }
}

.product__detail {
  .product__title {
    margin: 30px 0 0;
    font-size: 26px;
  }

  .price-item {
    font-size: 46px;
  }

  .product__inventory {
    margin-bottom: 10px;
  }

  .hide {
    display: none;
  }

  .select__select {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    padding: 0 15px;
    
    border: 1px solid $main-green-color;
    border-radius: 4px;

    display: block;
    appearance: auto;

    @include responsive(MD) {
      width: 350px;
    }
  }

  .add-to-cart {
    width: 100%;
    height: 52px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;

    span {
      margin: 5px 0 0 5px;
    }

    @include responsive(MD) {
      width: 350px;
    }
  }
  
  .product__whishlist {
    margin-bottom: 40px;

    #ZooomyList {
      width: 100%;
    }

    #ZooomyList label {
      width: 100%;
    }
    
    #ZooomyList label p {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
      height: 40px;
      
      text-transform: uppercase;
      font-weight: bold;
      font-size: 17px;
  
      border: none;
      border-radius: 4px !important;

      background: #fff !important;
      color: #000 !important;
      margin: 10px 0px;

      @include responsive(MD) {
        width: 260px;
      }

      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }

      i {
        color: #980008;
      }
    }
  }

  .product__tag-list {
    margin: 15px 0 25px;
  }

  .product__tag-item {
    display: inline-block;

    padding: 5px 20px;
    margin-right: 10px;

    background-color: #dbe6ca;
    border-radius: 20px;
    color: #728e4a;

    font-size: 17px;
  }
}

.item-contact-btn {
  margin-top: 20px;
  display: inline-block;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 20px;
  background-color: #f8f8f8;
  color: #666666;
  line-height: 50px;
  text-decoration: none;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
  cursor: pointer;
  width: 100%;

  @include responsive(MD){
    width: 350px;
  }

  &:hover {
    opacity: 0.8;
  }

  &::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 2px 6px 0 0;
    background-image: url('https://cdn.shopify.com/s/files/1/0552/9105/2113/files/icon_mail_gray.svg?v=1642219723');
    background-repeat: no-repeat;
    background-size: 17px auto;
    vertical-align: middle;
  }
}

.soldout-modal {
  a {
    border: 0px solid #0C1010;
    background-color: #fff;
    color: #000;
    text-align: center;

    &::before {
      content: "";
      display: inline-block;
      width: 23px;
      height: 23px;
      margin: 0px 10px 0 0;
      background-size: 24px;
      vertical-align: middle;
      background: url('https://cdn.shopify.com/s/files/1/0552/9105/2113/files/icon_mail_gray.svg?v=1642219723') no-repeat;
    }
  }
}
