// ==========================================================================
// ## SHOPIFY STATIC SECTION: MAIN SEARCH
// ==========================================================================

@import '../utils/utils-dir';

.search {

}

.search__results,
.search-no-result {
  margin-top: 4rem;
}

.search-no-result {
  margin: 6rem auto 4rem;
  text-align: center;
  @include responsive(MD) {
    width: 44rem;
  }
}