@import '../utils/utils-dir';
@import '../components/button';

.zooomy-wishlist {
}

#ZoomyWishlistPage {
  margin-top: 1rem;
  @include responsive(MD) {
    margin-top: 2rem;
  }
}

.ZoomyWishlistPageGrid {
  padding-left: 0 !important;
  padding-right: 0 !important;

  width: 100% !important;

  @include responsive(LG) {
    width: 48% !important;
  }

  &:nth-child(odd) {
    margin-left: 0;
  }

  &:nth-child(even) {
    margin-right: 0;
  }

  .zprice {
    float: right !important;
    text-align: left !important;
    padding-left: 2rem;
    width: 50% !important;
    font-weight: 600;
    margin-top: 0.4rem;

    @include responsive(XL) {
      padding-left: 4rem;
    }
  }

  li {
    &.zbodytitle,
    &.zbodyinfo,
    &.zbodyaction {
      @include box(50%, auto);
      float: right;
      text-align: left;
      padding-left: 2rem;

      @include responsive(XL) {
        padding-left: 4rem;
      }
    }

    > * {
      font-size: 2rem;
      font-weight: 600;
    }
  }
}

.zbodypimg {
  @include box(50%, auto);
  float: left;
  position: relative;
  button {
    border-radius: 100%;
    background: #fff !important;
    width: 30px !important;
    height: 30px !important;

    top: calc(100% - 50px) !important;
    left: 20px !important;
    
    --heart-size: 20px;
    --heart-color: #9b1b21;
    position: relative;
    width: var(--heart-size);
    height: var(--heart-size);
    animation: heart-beat 0.75s ease-in-out infinite;
    
    &::before {
      position: absolute;
      content: "";
      // top: calc(var(--heart-size) / 8);
      // left: 0;

      top: 9px;
      left: 5px;

      width: calc(var(--heart-size) / 2);
      height: calc((var(--heart-size) / 4) * 3);
      border-top-left-radius: calc(var(--heart-size) / 2);
      border-top-right-radius: calc(var(--heart-size) / 2);
      transform: rotateZ(45deg);
      transform-origin: bottom right;
      background-color: var(--heart-color);
    }
    
    &::after {
      position: absolute;
      content: "";
      top: 9px;
      right: 5px;

      // top: calc(var(--heart-size) / 8);
      // right: 0;
      width: calc(var(--heart-size) / 2);
      height: calc((var(--heart-size) / 4) * 3);
      border-top-left-radius: calc(var(--heart-size) / 2);
      border-top-right-radius: calc(var(--heart-size) / 2);
      transform: rotateZ(-45deg);
      transform-origin: bottom left;
      background-color: var(--heart-color);
    }
  }
  a {
    display: block;

    img {
      @include box(100%, auto);
    }
  }
}

.zbodytitle {
  margin-top: 1rem;
}

.zbodyinfo {
  .zqty {
    display: none;
  }
}

.zbodyaction {
  span.zooomybtn {
    display: none;
  }
}

body .zbtn.zopencartlink {
  @extend .p-button;
  margin-top: 1.4rem;
  padding: 1.4rem 2.8rem;
  font-size: 1.8rem;
}

body .zbtn.zopencartlink.z_w_soldout {
  @extend .p-button--soldout;
}