@import '../utils/utils-dir';

.slideshow {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: initial;

  padding: 0 1.5rem;
  margin-top: 4rem;

  @include responsive(MD) {
    padding: 0;
    &::before {
      display: none !important;
    }
  }

  .splide__arrows {
    button {
      background: none;
      transition: all 0.2s linear;
    }

    @include responsive(LG) {
      .splide__arrow--prev {
        position: absolute;
        left: 23%;
      }
      .splide__arrow--next {
        position: absolute;
        right: 23%;
      }
    }

    svg {
      fill: #f0f8ff;
      width: 2.4rem;
      height: 2.4rem;
      @include responsive(LG) {
        width: 3rem;
        height: 3rem;
      }
      @include responsive(XL) {
        width: 4rem;
        height: 4rem;
      }
    }
  }

  /** Pagination */
  .splide__pagination {
    display: none;
  }

  .splide__slide {
    border: none !important;

    @include responsive(MD) {
      margin: 0 1rem;
    }
    @include responsive(LG) {
      margin: 0 1.4rem;
    }
    @include responsive(XL) {
      margin: 0 2rem;
    }
  }

  .splide__track { height: 100% }
}

.slideshow, .slideshow-slider-container, .splide__slide {
  min-height: 20rem;
  height: auto;
  @include responsive(MD) {
    height: 30rem;
  }
  @include responsive(LG) {
    height: 40rem;
  }
}