@import '../utils/utils-dir';

.faq-template {}

.faq-template-wrapper {
  // margin-top: 4rem;
}

.faq-template-item{
  padding: 4rem 0;
  border-bottom: 1px solid #e5e5e5;
}

.faq-template-item-comp {
  display: block;
}

.faq-template-item-container {
  display: flex;
  align-items: center;
  
  img {
    height: fit-content;
    margin-right: 1.4rem;
  }
}

.faq-template-question {
  h3 {
    font-weight: 600;
    font-size: 1.6rem;
    @include responsive(LG) {
      font-size: 2rem;
    }
  }
}

.faq-template-answer {
  margin-top: 0.6rem;
  @include responsive(LG) {
    margin-top: 1.4rem;
  }
  .faq-template-item-container {
    align-items: flex-start;
  }
  p {
    font-size: 1.6rem;
    @include responsive(LG) {
      font-size: 2rem;
    }
  }
}

.faq_shiping {
  color: #507120;
  cursor: pointer;
}