.image-with-text {
  margin-top: 5rem;
  svg {
    fill: #fff;
    background: #333;
  }
  @media (min-width: 768px) {
    margin-top: 10rem;
  }
}

.image-with-text__header {
  display: flex;
  flex-direction: column;
  align-items: center;

  .image-with-text__header-heading {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    h3 {
      font-size: 1.8rem;
    }
  }
  .image-with-text__header-subheading {
    text-align: center;
    span {
      font-size: 32px;
      color: #507120;
      font-weight: bold;
      letter-spacing: 0.7rem;
      @media (min-width: 768px) {
        font-size: 38px;
      }
    }
  }
}

.image-with-text__wrapper {
  margin-top: 4rem;
  .image-with-text__wrapper-content {
    font-size: 20px;
    margin-bottom: 1rem;
    @media (min-width: 768px) {
      font-size: 20px;
      line-height: 1.8;
    }
    &.p-col-lg-7 {
      @media screen and (min-width: 992px) {
        padding-right: 3rem;
      }
      @media screen and (min-width: 1200px) {
        padding-right: 5rem;
      }
    }
  }
}

.image-with-text__header-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    margin-bottom: 1.5rem;
  }
}