// ==========================================================================
// ## SHOPIFY STATIC SECTION: MAIN BLOG
// ==========================================================================

@import '../utils/utils-dir';

.blog-tempalate {
  .blog-row {
    margin-top: 30px;
  }

  .p-col-md-6 {
    @include responsive(XL) {
      &:nth-child(odd) {
        padding-right: 30px;
      }
      &:nth-child(even) {
        padding-left: 30px;
      }
    }
  }
}

.blog-tempalate {
  .article-card {
    margin-bottom: 40px;
    svg {
      fill: #fff;
      background-color: #333;
    }
  }
}