// ==========================================================================
// ## SHOPIFY STATIC SECTION: MAIN REGISTER
// ==========================================================================
@import '../utils/utils-dir';

.register {
  max-width: unset !important;
  label {
    display: none;
  }

  form {
    ul {
      padding-left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .field-check {
      align-items: center;
      input[type="checkbox"] {
        border-radius: 4px;
        width: 20px;
        height: 20px;
        background: #eeeeee;
        transform: translateY(4px);
        float: left;
      }
      label {
        font-size: 1.8rem;
        transform: translateY(1px);
        display: inline-block;
        float: left;
        padding-left: 5px;
      }

      a{
        color: $main-green-color;
        font-size: 1.8rem;
        transform: translateY(1px);
        display: inline-block;
      }
      span {
        display: inline;
      }

      br {
        display: none;
      }
      @media (max-width: 767px) {
          input[type="checkbox"] {
            width: 18px;
            height: 18px;
            transform: translateY(1px);
          }
          label {
            font-size: 1.5rem;
          }
    
          a{
            font-size: 1.5rem;
            transform: translateY(0px);
          }
          span {
            font-size: 1.5rem;
            float: left;
          }

          br {
            display: block;
          }
      }
    }

    .field-check__btn.p-button--soldout {
      pointer-events: none;
    }
  }
}