@import "../utils/utils-dir";

#modal-message,
#modal-soldout {
  .modal__header {
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 2px dotted #e5e5e5;
  }

  .modal__container {
    width: 98%;
    margin: 0 auto;

    @include responsive(MD) {
      width: 400px;
    }
  }

  input,
  textarea {
    height: 45px;
    border: solid 1px #cecece;
    border-top: solid 1px #aaaaaa;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 16px;
    color: #333333;
    line-height: 1.6;
    width: 100%;
  }

  .contact__field-item {
    margin-top: 20px;
  }

  .contact__field-item.first-field {
    display: flex;

    .field {
      width: calc(50% - 10px);
      display: flex;
      align-items: center;
    }

    label {
      margin-right: 5px;
    }

    input {
      width: 100%;
    }

    .field:nth-child(1) {
      margin-right: 10px;
    }

    .field:nth-child(2) {
      margin-left: 10px;
    }
  }

  .field {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 13px;
      left: 16px;
      display: block;
      width: 17px;
      height: 17px;
    }
  }

  .field--message {
    &::before {
      background: url("https://cdn.shopify.com/s/files/1/0552/9105/2113/files/icon_mail_gray.svg?v=1642219723")
        no-repeat;
    }

    input {
      padding-left: 50px;
    }
  }

  .field--phone {
    &::before {
      background: url("https://cdn.shopify.com/s/files/1/0552/9105/2113/files/icon_phone_gray.svg?v=1642219810")
        no-repeat;
    }

    input {
      padding-left: 50px;
    }
  }

  .field--textarea {
    &::before {
      background: url("https://cdn.shopify.com/s/files/1/0552/9105/2113/files/icon_write.svg?v=1642219722")
        no-repeat;
    }

    textarea {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      height: 100px;
      padding: 10px 10px 10px 50px;
    }
  }

  .contact__button {
    margin-top: 20px;

    button {
      width: 100%;
      height: 60px;

      background: $main-green-color;
      font-size: 16px;
      color: #ffffff;
      letter-spacing: 0.05em;
      cursor: pointer;
    }
  }

  .product__infor {
    margin-bottom: 30px;
    padding: 10px;
    background-color: #ededed;
    color: #666666;

    label {
      margin-left: 10px;
      width: 290px;
      color: #666666;
    }
  }

  .mail_note {
    margin: 8px 0;
  }

  small {
    font-size: 12px;
    line-height: 1.6;
    color: #888888;
  }
}
