.shiping-popup {
  .shiping-popup__title {
    width: 100%;
    text-align: center;
  }

  .modal__header {
    margin-bottom: 15px;
  }

  .modal__container {
    height: 80%;
  }

  table {
    border-collapse: collapse;
  }
  
  td {
    border-bottom: 2px dotted #e5e5e5;
    padding: 15px 0;
  }
}