<!doctype html>
<html class="no-js" lang="{{- request.locale.iso_code -}}" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    {%- unless settings.fonts_header.system? and settings.fonts_body.system? -%}
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    {%- unless settings.fonts_header.system? -%}
    <link rel="preload" href="{{ settings.fonts_header | font_url }}" type="font/woff2" as="font" crossorigin>
    {%- endunless -%}

    {%- unless settings.fonts_body.system? -%}
    <link rel="preload" href="{{ settings.fonts_body | font_url }}" type="font/woff2" as="font" crossorigin>
    {%- endunless -%}

    <link rel="preload" href="{{ 'base.css' | asset_url }}" as="style">
    <link rel="preload" href="{{ 'base.js' | asset_url }}" as="script">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

    {%- liquid
      render 'head-seo'
      render 'head-metas'
      render 'head-settings'
    -%}

    {{ 'base.css' | asset_url | stylesheet_tag }}
    <script src="{{- 'base.js' | asset_url -}}" defer=defer></script>

    <script>
      var theme = {
        moneyFormat: {{ shop.money_format | json }},
        moneyFormatWithCurrency: {{ shop.money_with_currency_format | json }},
      }


      var cartInit = {{ cart | json }};
  </script>

    <!-- Start vendor third party libaries -->
    <script src="{{- 'vendors.js' | asset_url -}}" defer=defer></script>
    {{ 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css' | stylesheet_tag }}
    {{ 'https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js' | script_tag }}
    {{ 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js' | script_tag }}
    {{ 'https://rawgit.com/jquery/jquery-ui/master/ui/i18n/datepicker-ja.js' | script_tag }}
    <!-- End vendor third party libaries -->


    <!-- Header hook for plugins -->
    {{ content_for_header }}
    <script>
      var variantStock = {};
    </script>
  </head>
  <body class="layout-theme template-{{- template.name -}}{%- if template.suffix -%}-{{- template.suffix -}}{%- endif -%}">
    {% comment %} Accessibilty {% endcomment %}
    <div class="a11y o-container -medium u-pv-small" tabindex="-1">
      <a role="button" class="p-button -small" href="#main-content">
        {{- "accessibility.skip_to_content" | t -}}
      </a>
      <button type="button" class="p-button -small" onclick="this.blur();">{{ "accessibility.close" | t }}</button>
    </div>

    
    {%- section 'header' -%}
    
    <main id="main-content" role="main" class="u-focus-none" tabindex="-1">
      {{ content_for_layout }}
    </main>
    
    {%- section 'footer' -%}
    {%- section 'section-shiping' -%}
    {%- section 'cart-popup' -%}
    {%- section 'soldout-modal' -%}
    {%- section 'message-box' -%}
    {%- section 'form-login' -%}
 
    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
    </ul>

  </body>
</html>
