{{ 'section-cart-popup.css' | asset_url | stylesheet_tag }}
<script src="{{- 'component-cart-popup.js' | asset_url -}}" defer></script>


<cart-modal>
  <div id="modal-1" class="cart-popup modal micromodal-slide" aria-hidden="true">
    <div class="modal__overlay"  tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title" >
        <header class="modal__header">
          <h2 class="modal__title cart-popup__title" id="modal-1-title" >
            カートに入っているアイテム
          </h2>
          <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
        </header>
        
        <div id="modal-1-content" class="modal__content">
          <div class="cart-popup__content" id="cartPopupContent">
            <form action="/cart" method="post" class="cart-form xo-row">
              <div class="table-container">
                <table class="" style="width: 100%;">
                  <thead>
                    <tr>
                      <th class="column-title">アイテム名</th>
                      <th class="column-price">価格</th>
                      <th class="column-input">個数</th>
                      <th class="column-total">小計</th>
                    </tr>
                  </thead>
          
                  <tbody id="tableContent"> 
                    
                  </tbody>
                </table>
              </div>
  
             <div class="table-footer">
               <div class="table-timeinput-group" id="datetimepicker3" data-target-input="nearest">
                  <!-- <div class="table-date">
                    <label style="color: #000c;" for="CartNote">お届け希望日</label>
                    <textarea style="display: none;" name="note" id="CartNote">お届け希望日　</textarea>
                    <input type="date" name="date" class="date" placeholder="指定なし"/>
                  </div> -->
                  <div class="table-date">
                    <label style="color: #000c;" for="CartNote">お届け希望日</label>
                    <textarea style="display: none;" name="note" id="CartNote">お届け希望日　</textarea>
                    <input id="datepicker" type="text"  name="date" class="date" placeholder="指定なし"/>
                  </div>

                  <div class="table-time">
                    <label for="time">時間帯指定</label>
                    <select name="time" id="time" required>
                      <option value="指定なし">指定なし</option>
                      <option value="午前中（8時〜12時）">午前中（8時〜12時）</option>
                      <option value="12時〜14時">12時〜14時</option>
                      <option value="14時〜16時">14時〜16時</option>
                      <option value="16時〜18時">16時〜18時</option>
                      <option value="18時〜20時">18時〜20時</option>
                      <option value="19時〜21時">19時〜21時</option>
                    </select>
                  </div>
               </div>
  
               <div class="total__price">
                <div id="dd-gift"></div>

                 <div class="price">
                  <div class="total__price-text">合計:</div>
                  <div class="total__price-final"></div>
                 </div>
               </div>
             </div>
              
              <div class="checkout__btns">
               {% if customer %}
                  <a href="/checkout" class="btn__checkout btn__checkout--login p-button">注文画面へ進む</a>
                {% else %}
                  <span class="btn__checkout btn__checkout--login btn__checkout--showmodal p-button p-button--primary">ログインして購入する</span>
                  <a href="/checkout"  class="btn__checkout btn__checkout--nologin p-button">会員登録せずに購入する</a>
               {% endif%}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</cart-modal>
{% schema %}
{
  "name": "⚡Pusher: Cart Popup",
  "tag": "section",
  "settings": []
}
{% endschema %}




