{{ 'component-dark-mode-button.css' | asset_url | stylesheet_tag }}
<script src="{{- 'component-tooltip.js' | asset_url -}}" defer></script>

<footer class="footer">
  <div class="p-container">
    <div class="p-row">
      <div class="footer__left">
        <a href="{{ section.settings.left_icon_email_url }}" class="p-button p-button--primary p-button--email">
          {%- render 'component-icon' icon: 'email', icon_size: 25 -%}
        </a>
        <tooltip-component>
          <template>
            <div id="footer-icon-info-wrapper">
              <a href="{{ section.settings.left_icon_info_url_1 }}"> {{ section.settings.left_icon_info_text_1 }}</a>
              <a href="{{ section.settings.left_icon_info_url_2 }}"> {{ section.settings.left_icon_info_text_2 }}</a>
              <a href="{{ section.settings.left_icon_info_url_3 }}"> {{ section.settings.left_icon_info_text_3 }}</a>
            </div>
          </template>
          <button class="p-button p-button--primary p-button--info">
            {%- render 'component-icon' icon: 'info', icon_size: 25 -%}
          </button>
        </tooltip-component>
        
        <tooltip-component>
          <template>
            <div id="footer-icon-share-wrapper" class="social-networks">
              <a class="social-networks__item p-button p-button--white p-button--small twitter-share-pc" href="#" onClick="MyWindow=window.open('https://twitter.com/share?url={{ shop.domain }}','MyWindow','width=600,height=300'); return false;" target="_blank">
                {%- render 'component-icon' icon: 'twitter-3', icon_size: 18 -%}
                <span>ツイートする</span>
              </a>
              <a class="social-networks__item p-button p-button--white p-button--small twitter-share-sp" href="https://twitter.com/share?url={{ shop.domain }}" target="_blank">
                {%- render 'component-icon' icon: 'twitter-3', icon_size: 18 -%}
                <span>ツイートする</span>
              </a>
  
              <a class="social-networks__item p-button p-button--white p-button--small" href="#" onClick="MyWindow=window.open('https://www.facebook.com/sharer/sharer.php?u={{ shop.domain }}','MyWindow','width=600,height=300'); return false;" target="_blank">
                {%- render 'component-icon' icon: 'facebook-3', icon_size: 18 -%}
                <span>シェアする</span>
              </a>
            </div>
          </template>
          <button class="p-button p-button--primary p-button--share">
            {%- render 'component-icon' icon: 'share', icon_size: 25 -%}
          </button>
        </tooltip-component>
      </div>

      {% if section.settings.footer_text != blank %}
        <div class="footer__text">{{ section.settings.footer_text }}</div>
      {% endif %}
     
      <div class="footer__right">
        <a href="{{ settings.social_instagram_link }}" class="p-button p-button--roundgrey p-button--instagram">
          {%- render 'component-icon' icon: 'instagram', icon_size: 20 -%}
        </a>
        <a href="{{ settings.social_youtube_link }}" class="p-button p-button--roundgrey p-button--youtube">
          {%- render 'component-icon' icon: 'youtube', icon_size: 20 -%}
        </a>
        <a href="{{ settings.social_facebook_link }}" class="p-button p-button--roundgrey p-button--facebook">
          {%- render 'component-icon' icon: 'facebook-2', icon_size: 20 -%}
        </a>
        <a href="{{ routes.root_url }}" class="p-button p-button--roundgrey p-button--home">
          {%- render 'component-icon' icon: 'home', icon_size: 20 -%}
        </a>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "tag": "footer",
  "settings": [
    {
      "type": "header",
      "content": "Left side -------------"
    },
    {
      "type": "header",
      "content": "Icon email"
    },
    {
      "type": "url",
      "id": "left_icon_email_url",
      "label": "Link for icon mail"
    },
    {
      "type": "header",
      "content": "Icon info"
    },
    {
      "type": "text",
      "id": "left_icon_info_text_1",
      "label": "Label 1"
    },
    {
      "type": "url",
      "id": "left_icon_info_url_1",
      "label": "Link 1"
    },
    {
      "type": "text",
      "id": "left_icon_info_text_2",
      "label": "Label 2"
    },
    {
      "type": "url",
      "id": "left_icon_info_url_2",
      "label": "Link 2"
    },
    {
      "type": "text",
      "id": "left_icon_info_text_3",
      "label": "Label 3"
    },
    {
      "type": "url",
      "id": "left_icon_info_url_3",
      "label": "Link 3"
    },
    {
      "type": "header",
      "content": "Footer text"
    },
    {
      "type": "text",
      "id": "footer_text",
      "label": "Text",
      "default": "Footer Text"
    },
    {
      "type": "header",
      "content": "Icon share"
    }
  ]
}
{% endschema %}
