{{ 'section-login-popup.css' | asset_url | stylesheet_tag }}
<script src="{{- 'component-cart-popup.js' | asset_url -}}" defer></script>


  <div id="modal-login" class="modal micromodal-slide" aria-hidden="true">
    <div class="modal__overlay"  tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-login-title" >
        <header class="modal__header">
          <h2 class="modal__title cart-popup__title" id="modal-login-title" >
            ログイン
          </h2>
          <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
        </header>
        
        <div id="modal-login-content" class="modal__content">
          <div class="cart-popup__content" id="cartPopupContent">
            <h1 id="form-recover" style="display: none;">Recovery</h1>
            <div class="recover-form">
              {%- form 'recover_customer_password' -%}
              {% assign recover_success = form.posted_successfully? %}
              <div class="field">
                <!-- <label class="" for="RecoverEmail">
                  {{ 'customer.login_page.email' | t }}
                </label> -->
                <input 
                  class=""
                  type="email"
                  value=""
                  name="email"
                  id="RecoverEmail"
                  autocorrect="off"
                  autocapitalize="off"
                  autocomplete="email"
                  {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="RecoverEmail-email-error"
                  {% endif %}
                  placeholder="{{ 'customer.login_page.email' | t }}"
                >
              </div>
              {%- if form.errors -%}
                <div id="RecoverEmail-email-error" class="form__message">
                  {{ form.errors.messages['form'] }}
                </div>
              {%- endif -%}

              <button class="p-button">
                {{ 'customer.login_page.submit' | t }}
              </button>

              <a href="#form-login" class="form-login">
                {{ 'customer.login_page.cancel' | t }}
              </a>
            {%- endform -%}
            </div>

            <h1 id='form-login' style="display: none;">Login</h1>
            <div>
              {%- form 'customer_login', novalidate: 'novalidate' -%}
              {%- if form.errors -%}
                <h2 class="form__message" tabindex="-1">
                  {{ 'templates.contact.form.error_heading' | t }}
                </h2>
              {%- endif -%}

              <input type="hidden" name="checkout_url" value="/checkout">

              <div class="field"> 
                {%- render 'component-icon' icon: 'message', icon_size: 20 -%}       
                <label class="" for="CustomerEmail">
                  <!-- {{ 'customer.login_page.email' | t }} -->
                </label>
                <input
                  class=""
                  type="email"
                  name="customer[email]"
                  id="CustomerEmail"
                  autocomplete="email"
                  autocorrect="off"
                  autocapitalize="off"
                  {% if form.errors contains 'form' %}
                    aria-invalid="true"
                  {% endif %}
                  placeholder="{{ 'customer.login_page.email' | t }}"
                >
              </div>

              {%- if form.password_needed -%}
                <div class="field ">          
                  {%- render 'component-icon' icon: 'key', icon_size: 20 -%}    
                  <label for="CustomerPassword" class="" >
                    <!-- {{ 'customer.login_page.password' | t }} -->
                  </label>
                  <input
                    class=""
                    type="password"
                    value=""
                    name="customer[password]"
                    id="CustomerPassword"
                    autocomplete="current-password"
                    {% if form.errors contains 'form' %}
                      aria-invalid="true"
                    {% endif %}
                    placeholder="{{ 'customer.login_page.password' | t }}"
                  >
                </div>
              {%- endif -%}

              <button class="p-button">
                {{ 'customer.login_page.sign_in' | t }}
              </button>

              <a href="{{ routes.account_register_url }}" class="form-register">
                {{ 'customer.login_page.create_account' | t }}
              </a>

              <a href="#form-recover" class="form-recover">
                {{ 'customer.login_page.forgot_password' | t }}
              </a>
            {%- endform -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% schema %}
{
  "name": "⚡Pusher: Form Login Popup",
  "tag": "section",
  "settings": []
}
{% endschema %}





