{{ 'component-dark-mode-button.css' | asset_url | stylesheet_tag }}
<script src="{{- 'component-dark-mode-button.js' | asset_url -}}" defer></script>

<header class="header-password o-container -medium">
  {%- form 'storefront_password', class: 'header-password_form' -%}
    <div class="header-password_form-inner">
      <h2 class="p-heading -h2 -bold -upper">Enter using password</h2>
      <div class="p-field {% if form.errors %}-error{% endif %}">
        <input class="p-field_input"
          type="password"
          name="password"
          id="Password"
          autocomplete="current-password"
          {% if form.errors %}
          aria-invalid="true"
          aria-describedby="PasswordLoginFormError"
          {%- endif -%}
          placeholder="***********"
        >
        <label class="p-field_label p-body -h2 -bold" for="Password">Password</label>

        {%- if form.errors -%}
        <div id="PasswordLoginFormError" class="header-password_error" role="status">Error</div>
        {%- endif -%}
      </div>

      <button type="submit" name="commit" class="header-password_form-button p-button -primary">
        Enter website
      </button>
      <small class="p-body -h3">Are you the store owner? <a href="/admin">Log in here</a></small>
    </div>
  {%- endform -%}
</header>

{% schema %}
{
  "name": "t:sections.header_password.name",
  "tag": "section",
  "settings": []
}
{% endschema %}
