{{ 'component-dark-mode-button.css' | asset_url | stylesheet_tag }}
{{ 'component-predictive-search.css' | asset_url | stylesheet_tag }}
<script src="{{- 'component-the-header.js' | asset_url -}}" defer></script>

<the-header-component>
  <header class="header">
    <div class="header__fixed">
      <div class="header__icon-left">
        <div class="header__search-bar">
          <div class="header__search-wrapper">
            {%- render 'component-icon' icon: 'search', icon_size: 25 -%}
          </div>
          <form 
            action="{{ routes.search_url }}" 
            method="get" 
            role="search"
            class="header__search-form"
          >
            <input
              type="text"
              name="q"
              placeholder="アイテムを検索"
              value=""
              role="combobox"
              aria-expanded="false"
              aria-owns="predictive-search-results-list"
              aria-controls="predictive-search-results-list"
              aria-haspopup="listbox"
              aria-autocomplete="off"
              autocorrect="off"
              autocomplete="off"
              autocapitalize="off"
              spellcheck="false"
              class="header__search-input"
            >
            <input type="hidden" name="type" value="product">
            <input type="hidden" name="options[prefix]" value="last">
            <button type="submit" class="header__btn p-button p-button--primary p-button--search" aria-label="search">
              {%- render 'component-icon' icon: 'search', icon_size: 25 -%}
            </button>
          </form>
        </div>
        <button class="p-button p-button--primary p-button--menu">
          {%- render 'component-icon' icon: 'menu', icon_size: 25 -%}
        </button>
      </div>
  
      <div class="header__icon-right">
        {% if customer %}
            <div class="p-button p-button--primary p-button--login p-button--customer">{{ customer.first_name }} {{ customer.last_name }}様
              <ul class="menu-customer__list">
                <li class="menu-customer__item">
                  <a href="/account#/profile">マイページ</a>
                </li>
                <li class="menu-customer__item">
                  <a href="/pages/wishlist">お気に入り</a>
                </li>
                <li class="menu-customer__item">
                  <a href="/account#/orders">購入履歴</a>
                </li>
                <li class="menu-customer__item">
                  <a href="/account#/profile/edit">アカウント設定</a>
                </li>
                <li class="menu-customer__item">
                  <a href="{{ routes.account_logout_url }}">ログアウト</a>
                </li>
              </ul>
            </div>
            
        {% else %}
            <div class="p-button p-button--primary p-button--login p-button--customer">LOG IN
              <ul class="menu-customer__list">
                <li class="menu-customer__item">
                  <a href="{{ routes.account_login_url }}">ログイン</a>
                </li>
                <li class="menu-customer__item">
                  <a href="/account/register">新規登録</a>
                </li>
              </ul>
            </div>
        {% endif %}
        <span class="p-button p-button--primary p-button--cart">
          {%- render 'component-icon' icon: 'cart', icon_size: 25 -%}
          <span class="cart-count"></span>
        </span>
      </div>
    </div>
    <a href="{{ routes.root_url }}" class="header__logo">
      {% render 'component-image', image: settings.store_logo %}
    </a>
    <div class="header__breakline">
      <div>
        <a href="{{ routes.root_url }}" class="p-heading p-heading--h1">
          <img src="https://cdn.shopify.com/s/files/1/0552/9105/2113/files/OnlineShop.png?v=1641751031">
        </a> 
      </div>
    </div>
    <div class="header__menu">
      <div class="header__main">
        <!-- {% render 'component-linklist', 
          link_list: section.settings.menu,
          bem_class: 'menu_desktop' 
        %} -->

        <nav class="menu_desktop__navigation">
          <ul class="menu_desktop__menu list-menu" role="list">
            {%- for link in section.settings.menu.links -%}
              <li class="{{ link.title | downcase }} menu_desktop__list">
                {%- if link.links != blank -%}
                    <div class="menu_desktop__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu_desktop__menu-item--active{% endif %}">
                      {{ link.title | escape }}
                    </div>
                    <div id="link-{{ link.title | escape }}" class="menu_desktop__submenu motion-reduce" tabindex="-1">
                      <div class="menu_desktop__inner-submenu">
                        <ul class="menu_desktop__menu list-menu" role="list" tabindex="-1">
                          {%- for childlink in link.links -%}
                            <li>
                              <a href="{{ childlink.url }}" class="menu_desktop__menu-item subcategory link link--text list-menu__item focus-inset{% if childlink.current %} menu_desktop__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                {{ childlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </div>
                    </div>
                  </details>
                {%- else -%}
                  <a href="{{ link.url }}" class="menu_desktop__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu_desktop__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                    {{ link.title | escape }}
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </nav>
      </div>
    </div>
    <div class="header__drawer-container">
      <button class="p-button p-button--primary p-button--close">
        {%- render 'component-icon' icon: 'close', icon_size: 25 -%}
      </button>

      <div class="header__drawer">
        <div class="header__drawer-search header__search-bar is-open is-active">
          <div class="header__search-wrapper">
            {%- render 'component-icon' icon: 'search', icon_size: 25 -%}
          </div>
          <form 
            action="{{ routes.search_url }}" 
            method="get" 
            role="search"
            class="header__search-form"
          >
            <input
              type="text"
              name="q"
              placeholder="アイテムを検索"
              value=""
              role="combobox"
              aria-expanded="false"
              aria-owns="predictive-search-results-list"
              aria-controls="predictive-search-results-list"
              aria-haspopup="listbox"
              aria-autocomplete="off"
              autocorrect="off"
              autocomplete="off"
              autocapitalize="off"
              spellcheck="false"
              class="header__search-input"
            >
            <input type="hidden" name="type" value="product">
            <input type="hidden" name="options[prefix]" value="last">
            <button type="submit" class="header__btn p-button p-button--primary p-button--search p-button--mobile" aria-label="search">
              {%- render 'component-icon' icon: 'search', icon_size: 25 -%}
            </button>
          </form>
        </div>
  
        <div class="header__drawer-customer">
          {% if customer %}
            <div class="header__drawer-customer-group header__drawer--account">
              <div class="header__drawer-login">{{ customer.first_name }} {{ customer.last_name }}様</div>
              <ul class="drawer-customer__list">
                <li class="drawer-customer__item">
                  <a href="/account#/profile">マイページ</a>
                </li>
                <li class="drawer-customer__item">
                  <a href="/pages/wishlist">お気に入り</a>
                </li>
                <li class="drawer-customer__item">
                  <a href="/account#/orders">購入履歴</a>
                </li>
                <li class="drawer-customer__item">
                  <a href="/account#/profile/edit">アカウント設定</a>
                </li>
                <li class="drawer-customer__item">
                  <a href="{{ routes.account_logout_url }}">ログアウト</a>
                </li>
              </ul>
            </div>
          {% else %}
            <div class="header__drawer-customer-group header__drawer-customer--logout">
              <a href="{{ routes.account_login_url }}">
                ログイン
              </a>
  
              <a href="{{ routes.account_register_url }}">
                会員登録
              </a>
            </div>
          {% endif %}
        </div>
  
  
        {% render 'component-linklist', 
          link_list: section.settings.menu,
          bem_class: 'menu_drawer' 
        %}
      </div>
    </div>
  </header>
</the-header-component>

{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu header",
      "default": "main-menu"
    }
  ]
}
{% endschema %}
