{{ 'section-main-gift-wrapping.css' | asset_url | stylesheet_tag }}

<div class="gift-template">
  <div class="p-container">
    {% render 'component-page-header', page_title: 'GIFT WRAPPING' %}

    <div class="gift-content">
      {{ page.content }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Gift",
  "settings": [],
  "presets": [
    {
      "name": "Gift"
    }
  ]
}
{% endschema %}
