{{ 'section-main-about.css' | asset_url | stylesheet_tag }}


<section class="about-tempalate">
  <div class="p-container">
    {% render 'component-page-header', page_title: 'ABOUT' %}

    <div class="about-template-wrapper">
      <div class="about-template-top">
        <div class="about-template__logo">
          {% render 'component-image', image: settings.store_logo %}
        </div>
        <div class="about-template__heading">
          <h3>{{ section.settings.title }}</h3>
          <p>{{ shop.name }}</p>
          <div class="about-template__social">
            <a href="{{ settings.social_instagram_link }}" class="p-button p-button--roundgrey p-button--instagram" target="_blank">
              {%- render 'component-icon' icon: 'instagram', icon_size: 20 -%}
            </a>
            <a href="{{ settings.social_youtube_link }}" class="p-button p-button--roundgrey p-button--youtube" target="_blank">
              {%- render 'component-icon' icon: 'youtube', icon_size: 20 -%}
            </a>
            <a href="{{ settings.social_facebook_link }}" class="p-button p-button--roundgrey p-button--facebook" target="_blank">
              {%- render 'component-icon' icon: 'facebook-2', icon_size: 20 -%}
            </a>
            <a href="{{ settings.orther_link }}" class="p-button p-button--roundgrey p-button--home" target="_blank">
              {%- render 'component-icon' icon: 'home', icon_size: 20 -%}
            </a>
          </div>
        </div>
      </div>
      <div class="about-template-content">
        <p>{{ page.content }}</p>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "About",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Title about"
    }
  ],
  "presets": [
    {
      "name": "About"
    }
  ]
}
{% endschema %}
