{{ 'section-main-article.css' | asset_url | stylesheet_tag }}

<article class="article-template p-container">
  <div class="p-row">
    <div class="p-col-lg-10">
      {% render 'component-page-header', page_title: article.title %}
      
      {%- if article.image -%}
      <div class="article-template__img">  
        {% render 'component-image', image: article.image  %}
      </div>
      {%- endif -%}
    
      <div class="article-template-info text-center">
        <span class="article-template-info__date">
          {{- article.published_at | date: "%Y/%m/%d" -}}
        </span>
      </div>
    
      <div class="article-template__content">
        {{ article.content }}
      </div>
    </div>

  </div>
</article>


{% schema %}
{
  "name": "t:sections.article.name",
  "tag": "article",
  "settings": []
}
{% endschema %}