{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
<script src="{{- 'component-product-form.js' | asset_url -}}" defer></script>

<div data-vue-component class="product-page p-container" id="product-page-vue" data-product-title="{{ product.title }}">
  <div class="p-row">
    <div class="p-col-md-6">
      {% render 'component-breadcrumbs' %}
      {% render 'component-product-slider' %}
    </div>
    <div class="p-col-md-6 product__detail">
      <product-form>
        {% form 'product', product %}
        <h1 class="h3 product__title">{{ product.title }}</h1>
        <div class="product__price">
          {% render 'component-price', 
              product: product,
              use_variant: true,
              price_class: '' 
            %}
        </div>

        <shiping-popup-component>
          <div class="product__shiping">
            <button type="button">
              送料についてはこちら
            </button>
          </div>
        </shiping-popup-component>
        
        {% unless product.has_only_default_variant %}
          <select name="id" id="Variants-{{ section.id }}" class="select__select">
            {% for variant in product.variants %}
              <option  
                {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                {% if variant.available == false %}disabled{% endif %}
                value="{{ variant.id }}"
              >
                {{ variant.title }}
              </option>
            {% endfor%}
          </select>
        {% endunless %}
        {%- if section.settings.title == true-%}
          {%- for variant in product.variants -%}
          <div class="product__inventory">
          {%- assign is_in_stock = false -%}
          {%- if 0 < variant.inventory_quantity -%}{%- assign is_in_stock = true -%}{%- endif -%}
          {%- if is_in_stock -%}
          在庫あり（{{ variant.inventory_quantity }}個）
          {%- elsif is_in_stock == false and variant.inventory_policy == 'continue' -%}
          在庫あり
          {%- elsif is_in_stock == false and variant.incoming -%}
          在庫なし 再入荷待ち 入荷予定日：{%- if variant.next_incoming_date -%}{{ variant.next_incoming_date | date:"%Y/%m/%d" }}{%- else -%}未定{%- endif -%}
          {%- elsif is_in_stock == false -%}
          在庫なし
          {%- endif -%}
          </div>
          {%- endfor -%}
        {%- endif -%}
        {% if product.selected_or_first_available_variant.available == false %}
          <soldout-modal class="soldout-modal">
            <a class="item-contact-btn">再入荷お知らせ</a>
          </soldout-modal>
        {% else %}
            <button 
              class="add-to-cart p-button p-button--primary"
            >
            {%- render 'component-icon' icon: 'cart', icon_size: 25 -%} 
            <span>カートに入れる</span>
          </button>
        {% endif %}
        <noscript>
          <button class="add-to-cart p-button p-button--soldout" type="submit" name="add">
            {% if product.selected_or_first_available_variant.available %}
              {%- render 'component-icon' icon: 'cart', icon_size: 25 -%} 
              <span>カートに入れる</span>
            {% else %}
              SOLD OUT
            {% endif %}
          </button>
        </noscript>

        <div class="product__whishlist">
          {% render 'ZooomyListWishlistProduct' %}
        </div>
        <div class="product__description rte">
          {{ product.description }}
        </div>

        <div class="product__tag-list">
          {% for tag in product.tags %}
            <span class="product__tag-item">
              {{ tag }}
            </span>
          {% endfor %}
        </div>

        <div class="product__share">
          {% render 'component-share-to-social', url: product.url %}
        </div>

        <message-box class="product__box">
          <a class="item-contact-btn">このアイテムについて問い合わせる</a>
        </message-box>
      {% endform %}
      </product-form>
    </div>
  </div>
</div>

<script type="text/javascript">
  var productJson = {{ product | json }};
</script>

{% schema %}
{
  "name": "t:sections.product.name",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "stock",
      "label": "Stock",
      "default": "Stock show"
    }
  ],
}
{% endschema %}