{{ 'section-main-search.css' | asset_url | stylesheet_tag }}
{{ 'component-product-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-pagination.css' | asset_url | stylesheet_tag }}

{% assign search_text = '検索結果 | キーワード：' | append: search.terms %}

<div class="search p-container {% unless search.performed and search.results_count > 0 %} search--empty{% endunless %}">
  {% render 'component-page-header', page_title: search_text %}

  {%- if search.results.size == 0 and search.filters != empty -%}
    <div class="search__results" id="product-grid" data-id="{{ section.id }}">
      <div class="title-wrapper center">
        <h2 class="title title--primary">
          
        </h2>
      </div>
    </div>
  {%- else -%}

  {% if search.performed and search.results_count == 0 %}
    <div class="search-no-result text-center">
      <p>{{ 'templates.search.no_results' | t: terms: search.terms }}</p>
    </div>
  {% endif %}

  {% paginate search.results by 8 %}
      <div class="search__results page-width" data-id="{{ section.id }}">
        <ul class="p-row search__results-list" role="list">
          {%- for item in search.results -%}
            <li class="search__result-iem p-col-6 p-col-md-3">
              {% render 'component-product-card',
                product_card_product: item
              %}
            </li>
          {%- endfor -%}
        </ul>
      </div>

      {%- if paginate.pages > 1 -%}
        {% render 'component-pagination', paginate: paginate, anchor: '', class: '' %}
      {%- endif -%}
    {% endpaginate %}  
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.search.name",
  "tag": "section",
  "settings": []
}
{% endschema %}
