{{ 'section-main.faq.css' | asset_url | stylesheet_tag }}

<div class="faq-template p-container">
  {% render 'component-page-header', page_title: 'FAQ' %}

  <div class="faq-template-wrapper">
    {% for block in section.blocks %}
      <div class="faq-template-item">

        <div class="faq-template-question faq-template-item-comp">
          <div class="faq-template-item-container">
            <img src="https://cdn.shopify.com/s/files/1/0552/9105/2113/files/Q.png?v=1641828612">
            <h3>{{ block.settings.question }}</h3>
          </div>
        </div>

        <div class="faq-template-answer faq-template-item-comp">
          <div class="faq-template-item-container">
            <img src="https://cdn.shopify.com/s/files/1/0552/9105/2113/files/A.png?v=1641828612">
            <p>{{ block.settings.answer }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


{% schema %}
  {
    "name": "FAQ",
    "tag": "section",
    "settings": [
    ],
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "type": "text",
            "id": "question",
            "label": "Question",
            "default": "This is question"
          },
          {
            "type": "textarea",
            "id": "answer",
            "label": "Answer",
            "default": "Braise, sauté, and fry without the chemicals Braise, sauté, and fry without the chemicals Braise, sauté, and fry without the chemicalsBraise, sauté, and fry without the chemicals Braise, sauté, and fry without the chemicals Braise, sauté, and fry without the chemicals"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "FAQ"
      }
    ]
  }
{% endschema %}