{{ 'section-main-sns.css' | asset_url | stylesheet_tag }}

<div class="sns-template p-container">
  {% render 'component-page-header', page_title: 'SNS' %}

  <div class="sns__content">
    {% for block in section.blocks %}
      <a href="{{ block.settings.link }}" class="sns__card">
        <figure>
          <div class="sns__card-top p-row">
            <div class="sns__card-image p-col-12 p-col-md-6 p-col-xl-4">
              {% render 'component-image', image: block.settings.image %}
            </div>
            <figcaption class="p-col-12 p-col-md-6 p-col-xl-8">
              <div class="sns__card-title">
                <h3>{{ block.settings.title }}</h3>
                {% render 'component-image', image: block.settings.icon %}
              </div>
            </figcaption>
          </div>
        </figure>

        <div class="sns__card-content">
          <p>{{ block.settings.content }}</p>
        </div>
      </a>
    {% endfor %}
    <a href="https://ja-jp.facebook.com/pages/category/Japanese-Restaurant/%E6%97%A5%E6%9C%AC%E6%96%99%E7%90%86-%E9%9F%B3%E7%BE%BD-1233684510054449/" class="sns__card sns__fb_pc">
      <figure>
        <div class="sns__card-top p-row">
          <div class="sns__card-image p-col-12 p-col-md-6 p-col-xl-4">
            <img srcset="//cdn.shopify.com/s/files/1/0552/9105/2113/files/FacebookIMG_165x.png?v=1641829420 165w,//cdn.shopify.com/s/files/1/0552/9105/2113/files/FacebookIMG.png?v=1641829420 275w" src="//cdn.shopify.com/s/files/1/0552/9105/2113/files/FacebookIMG_1500x.png?v=1641829420" sizes="(min-width: px) -50px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="" loading="lazy" width="275" height="158">
          </div>
          <figcaption class="p-col-12 p-col-md-6 p-col-xl-8">
            <div class="sns__card-title">
              <h3>音羽facebook</h3>
              <img srcset="//cdn.shopify.com/s/files/1/0552/9105/2113/files/facebook.png?v=1641796085 54w" src="//cdn.shopify.com/s/files/1/0552/9105/2113/files/facebook_1500x.png?v=1641796085" sizes="(min-width: px) -50px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="" loading="lazy" width="54" height="54">
            </div>
          </figcaption>
        </div>
      </figure>

      <div class="sns__card-content">
        <p></p>
      </div>
    </a>

    <a href="fb://page/?id=1233684510054449" class="sns__card sns__fb_mobile">
      <figure>
        <div class="sns__card-top p-row">
          <div class="sns__card-image p-col-12 p-col-md-6 p-col-xl-4">
            <img srcset="//cdn.shopify.com/s/files/1/0552/9105/2113/files/FacebookIMG_165x.png?v=1641829420 165w,//cdn.shopify.com/s/files/1/0552/9105/2113/files/FacebookIMG.png?v=1641829420 275w" src="//cdn.shopify.com/s/files/1/0552/9105/2113/files/FacebookIMG_1500x.png?v=1641829420" sizes="(min-width: px) -50px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="" loading="lazy" width="275" height="158">
          </div>
          <figcaption class="p-col-12 p-col-md-6 p-col-xl-8">
            <div class="sns__card-title">
              <h3>音羽facebook</h3>
              <img srcset="//cdn.shopify.com/s/files/1/0552/9105/2113/files/facebook.png?v=1641796085 54w" src="//cdn.shopify.com/s/files/1/0552/9105/2113/files/facebook_1500x.png?v=1641796085" sizes="(min-width: px) -50px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="" loading="lazy" width="54" height="54">
            </div>
          </figcaption>
        </div>
      </figure>

      <div class="sns__card-content">
        <p></p>
      </div>
    </a>
  </div>
</div>

{% schema %}
  {
    "name": "SNS",
    "tag": "section",
    "settings": [
    ],
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "This is title"
          },
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Conntent",
            "default": "Braise, sauté, and fry without the chemicals Braise, sauté, and fry without the chemicals Braise, sauté, and fry without the chemicalsBraise, sauté, and fry without the chemicals Braise, sauté, and fry without the chemicals Braise, sauté, and fry without the chemicals"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "SNS"
      }
    ]
  }
{% endschema %}