{{ 'section-main-contact.css' | asset_url | stylesheet_tag }}

<section class="contact-template">
  <div class="p-container">
    {% render 'component-page-header', page_title: 'CONTACT' %}

    {%- comment -%}Form{%- endcomment -%}
    {%- form 'contact', id: 'ContactForm-1' -%}
      {%- if form.posted_successfully? -%}
        <div class="form-status form-status-list form__message" tabindex="-1" >
          お問い合わせいただきありがとうございます。弊社担当確認後返信させていたたきます。
        </div>
      {%- elsif form.errors -%}
        <div class="form__message">
          <h2 class="form-status caption-large" role="alert" tabindex="-1" >
            エラーが発生しました。以下のエラーをご確認の上、再度お試しください。
          </h2>
        </div>
        <ul class="form-status-list caption-large errors" role="list">
          <li>
            <a href="#ContactForm-email" class="link">
              正しいメールアドレスを入力してください。
            </a>
          </li>
        </ul>
      {%- endif -%}
      <div class="contact__fields">
        <div class="contact__field-item p-row">
          <h3 class="p-col-md-2">お名前</h3>
          <div class="contact__field-group p-col-12 p-col-md-10 p-col-lg-8 p-col-xl-6">
            <div class="field">
              <label class="field__label" for="ContactForm-name">姓</label>
              <input class="field__input" autocomplete="name" type="text" id="ContactForm-name" name="contact[name]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.first_name }}{% endif %}">
            </div>
            <div class="field">
              <label class="field__label" for="ContactForm-lastname">名</label>
              <input class="field__input" autocomplete="name" type="text" id="ContactForm-lastname" name="contact[lastname]"  value="{% if form.lastname %}{{ form.lastname }}{% elsif customer %}{{ customer.last_name }}{% endif %}">
            </div>
          </div>
          <div class="contact__field-line"></div>
        </div>
        <div class="contact__field-item p-row">
          <h3 class="p-col-md-2">メールアドレス</h3>
          <div class="field field--with-error p-col-12 p-col-md-10 p-col-lg-8 p-col-xl-6">
            <input
              autocomplete="email"
              type="email"
              id="ContactForm-email"
              class="field__input"
              name="contact[email]"
              spellcheck="false"
              autocapitalize="off"
              value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
              aria-required="true"
              {% if form.errors contains 'email' %}
                aria-invalid="true"
                aria-describedby="ContactForm-email-error"
              {% endif %}
            >
              <div class="contact__field-error errors" id="ContactForm-email-error">
                <span>
                </span>
              </div>
          </div>
        </div>
      </div>
      <div class="contact__field-item p-row">
        <h3 class="p-col-md-2">電話番号（任意）</h3>
        <div class="field p-col-12 p-col-md-10 p-col-lg-8 p-col-xl-6">
          <input type="tel" id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[Phone]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" >
        </div>
      </div>
      <div class="contact__field-item contact__field-item-comment p-row">
        <h3 class="p-col-md-2">メッセージ</h3>
        <div class="field p-col-12 p-col-md-10 p-col-lg-8 p-col-xl-6">
          <textarea rows="10" id="ContactForm-body" class="text-area field__input" name="contact[body]"></textarea>
          <div class="contact__field-error errors" id="ContactForm-content-error">
            <span>
            </span>
          </div>
        </div>
      </div>
      <div class="contact__button p-row">
        <h3 class="p-col-md-2"></h3>
        <button type="submit" class="button">
          送信する
        </button>
      </div>
    {%- endform -%}
  </div>
</section>

<script>
  $('.contact__button button').click(function() {
      if($('#ContactForm-email').val() === '' || $('#ContactForm-body').val() === '')
      {
        if($('#ContactForm-email').val() === '') {
              $('#ContactForm-email-error span').text('メールアドレスを入力してください。');
        } else {
          $('#ContactForm-email-error span').text('');
        }
        if($('#ContactForm-body').val() === '') {
          $('#ContactForm-content-error span').text('内容を入力してください。');
      } else {
          $('#ContactForm-content-error span').text('');
        }
      return false;
    }
  });
</script>
{% schema %}
{
  "name": "Contact",
  "settings": [],
  "presets": [
    {
      "name": "Contact"
    }
  ]
}
{% endschema %}
