{{ 'section-main-policy.css' | asset_url | stylesheet_tag }}

<div class="policy">
  <div class="p-container">
    {% render 'component-page-header', page_title: 'プライバシーポリシー' %}

    <h3>個人情報の取り扱いについて</h3>
    <h3>はじめに</h3>
    <p>
      株式会社 音羽（以下「当社」）は、個人情報保護の重要性を認識し、適切に利用し、保護することが社会的責任であると考え、個人情報の保護に努めることをお約束いたします。
    </p>

    <h3>個人情報の定義</h3>
      
    <p>個人情報とは、個人に関する情報であり、氏名、生年月日、性別、電話番号、電子メールアドレス、職業、勤務先等、特定の個人を識別し得る情報をいいます。</p>

    <h3>個人情報の収集・利用</h3>
    <p>
      当社は、以下の目的のため、その範囲内においてのみ、個人情報を収集・利用いたします。
      当社による個人情報の収集・利用は、お客様の自発的な提供によるものであり、お客様が個人情報を提供された場合は、当社が本方針に則って個人情報を利用することをお客様が許諾したものとします。
    </p>

    <h3>ご注文された当社の商品をお届けするうえで必要な業務</h3>
    <p>
      新商品の案内など、お客様に有益かつ必要と思われる情報の提供
    </p>
    <p>
      業務遂行上で必要となる当社からの問い合わせ、確認、およびサービス向上のための意見収集
    </p>
    <p>
      不正・不当な目的で当社を利用しようとする方のご利用をお断りするために行う調査
    </p>
    <p>
      当社及び当社の提携先が提供しているサービスやセキュリティの向上
    </p>
    <p>
      各種のお問い合わせ対応
    </p>

    <h3>個人情報の第三者提供</h3>
    <p>
      当社は、法令に基づく場合等正当な理由によらない限り、事前に本人の同意を得ることなく、個人情報を第三者に開示・提供することはありません。
    </p>

    <h3>委託先の監督</h3>
    <p>
      当社は、お客様へ商品やサービスを提供する等の業務遂行上、個人情報の一部を外部の委託先へ提供する場合があります。その場合、業務委託先が適切に個人情報を取り扱うように管理いたします。
    </p>

    <h3>個人情報の管理</h3>
    <p>
      当社は、個人情報の漏洩、滅失、毀損等を防止するために、個人情報保護管理責任者を設置し、十分な安全保護に努め、また、個人情報を正確に、また最新なものに保つよう、お預かりした個人情報の適切な管理を行います。
    </p>

    <h3>クッキーについて</h3>
    <p>
      当ウェブサイトでは、クッキーを商品の購入、利用者の動向調査等の為に使用することがあります。お客様がクッキーを使用しない設定としている場合、当ウェブサイトで使用できる機能については制限される可能性がありますのでご了承下さい。
    </p>

    <h3>情報内容の照会、修正または削除</h3>
    <p>
      当社は、お客様が当社にご提供いただいた個人情報の照会、修正または削除を希望される場合は、ご本人であることを確認させていただいたうえで、合理的な範囲ですみやかに対応させていただきます。
    </p>

    <p>
      お客様が、当ウェブサイトを利用する場合または商品の購入をする場合、下記「お客様情報の取扱規定（プライバシーポリシー）」を熟読のうえ、内容に同意していただく必要があります。なお、ご同意いただけない場合は、商品の購入ができません。
    </p>
    <br>
    <p>
      1. お客様情報について
    </p>
    <p>お客様情報とは、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日、住所、電話番号、その他の記述等により特定の個人を識別することが出来るものを言います。これには他の情報と照合することが出来、それにより特定の個人を識別できる事となるものを含みます。
    </p>
    <br>
    <p>
      2. お客様情報の利用目的について
    </p>
    <p>
      当方は、(1)売買取引における当方の債務を履行するため、(2)売買取引におけるアフターサービスを実施するため、(3)お客様に特別なサービスや新商品等をご案内すること、又は、(4)前記(3)のご案内のため、メールマガジン・DM・各種お知らせ等を送信・送付することを目的とし、お客様情報を利用させていただきます。これらの利用目的以外には、下記3に記載する場合または事前にお客様に同意をいただいた場合を除き、利用致しません。
    </p>
    <br>
    <p>3. お客様情報の第三者への委託について</p>
    <p>
      当方は、利用目的の達成に必要な範囲内において、お客様情報の全部又は一部を委託する場合があります。
    </p>
    <br>
    <p>4. お客様情報の第三者への提供について</p>
    <p>
      当方は、事前にお客様の同意を得ることなしでお客様情報を第三者に提供しません。
    </p>
    <br>
    <p>5. お客様情報の共同利用について</p>
    <p>
      当方は、以下に記載する会社との間で、お客様情報を共同利用いたします。
    </p>
    <p>
      共同して利用するお客様情報の項目　お客様の氏名、住所、電話番号、メールアドレス、購入された商品情報など
    </p>
    <p>
      共同して利用する者の範囲
    </p>
    <p>
      利用する者の利用目的　当方とお客様の間の売買取引のうち、商品の配送など、当方が委託した業務を行うため
    </p>
    <p>
      お客様に特別なサービスや新商品等をご案内するため
    </p>
    <p>
      お客様に対するアフターサービスを実施するため
    </p>
    <p>
      メールマガジン等のお知らせの送信のため
    </p>
    <p>
      その他
    </p>
    <p>
      お客様情報の管理について責任を有する者
    </p>

    <br>
    <p>6. クッキーの使用について</p>
    <p>
      本サービスは、お客様のコンピュータの記憶装置に、「クッキー」と呼ばれるテキストファイルを送付し、保存・利用させていただくことがございます。「クッキー」を使用する事により具体的には、例えば、興味をお持ちであろう分野のコンテンツを表示する事ができるというメリットがあります。お客様は、「クッキー」を受け取る前にブラウザが警告を出す様に設定しておく事により、お客様の判断で「クッキー」を受け取る事を拒否できますが、本サービスがご利用になれない場合があります。
    </p>
    <br>
    <p>
      7. お客様情報のお問い合わせについて
    </p>
    <p>
      当ウェブサイトの特定商取引法に関する表記内にある「事業者の名称および連絡先」までご連絡ください。もしくは、ストアページ内の【お問い合わせフォーム】への請求により、電子メールにて遅滞なく連絡先等を提供いたします。
    </p>
  </div>
</div>