{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}
{{ 'component-article-card.css' | asset_url | stylesheet_tag }}


<section class="blog-tempalate">
  {% assign blog = blogs[section.settings.blog] %}
  {% assign show_placeholder = true %}

  <div class="p-container">
    {% render 'component-page-header', page_title: blog.title %}

    <div class="p-row blog-row">

      {% if blog != blank %}
        {% for article in blog.articles %}
          <div class="p-col-12 p-col-md-6">
            {% render 'component-article-card', article: article %}
          </div>
        {% endfor %}

        {% assign show_placeholder = false %}
      {% endif %}

      {% if show_placeholder %}
        {% for i in (1..3) %}
        {% capture placeholder_image %}{% cycle 'lifestyle-1', 'lifestyle-2' %}{% endcapture %}

          <div class="p-col-12 p-col-md-6">
            <article class="article-card">
              <a href="#" class="article-content">
                <!-- Image  -->
                {{ placeholder_image | placeholder_svg_tag }}
            
                <!-- Content  -->
                <div class="article-card__info">
                  <div class="article-card__content">
                    <header class="article-card__header">
                      <p class="article-card__date">2021/06/21</p>
                      <h2 class="article-card__title">This is blog</h2>
                    </header>
                  </div>
                </div>
              </a>
            </article>
          </div>
        {% endfor %}
      {% endif %}
      
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Blog Posts",
  "settings": [
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    }
  ],
  "presets": [
    {
      "name": "Blog posts"
    }
  ]
}
{% endschema %}
