{{ 'section-main-specified.css' | asset_url | stylesheet_tag }}

<div class="specified">
  <div class="p-container">
    {% render 'component-page-header', page_title: '特定商取引法に関する表記' %}

    <div class="specified-group">
      <div class="specified-item p-row">
        <div class="p-col-3">
          <span>販売事業者</span>
        </div>
        <div class="p-col-9">
          <span>株式会社&emsp;音羽</span>
        </div>
      </div>

      <div class="specified-item p-row">
        <div class="p-col-3">
          <span>販売責任者</span>
        </div>
        <div class="p-col-9">
          <span>朝倉修兵</span>
        </div>
      </div>

      <div class="specified-item p-row">
        <div class="p-col-3">
          <span>所在地</span>
        </div>
        <div class="p-col-9">
          <span>長野県小諸市鶴巻2-2-27</span>
        </div>
      </div>

      <div class="specified-item p-row">
        <div class="p-col-3">
          <span>電話番号</span>
        </div>
        <div class="p-col-9">
          <span>0267-22-2225<br>（受付時間 10:00-18:00&emsp;定休日 月曜）</span>
        </div>
      </div>

      <div class="specified-item p-row">
        <div class="p-col-3">
          <span>ホームページ</span>
        </div>
        <div class="p-col-9">
          <span>0267-22-2225<br><a href="https://www.otowaweb.com/" target="_blank" class="specified-item-link">https://www.otowaweb.com/</a></span>
        </div>
      </div>

      <div class="specified-item p-row">
        <div class="p-col-3">
          <span>販売価格</span>
        </div>
        <div class="p-col-9">
          <span>各商品ページをご覧ください。税込み価格で表記しております。</span>
        </div>
      </div>

      <div class="specified-item p-row">
        <div class="p-col-3">
          <span>商品代金以外の必要料金</span>
        </div>
        <div class="p-col-9">
          <span>送料<br>送料につきましては各都道府県ごとに決まっております。<br><span class="specified-item-link specified-item-link-popup">送料一覧をご参照下さい。</span>
          <br>手数料
          <br>代引きの場合&emsp;&emsp;&emsp;265円
          <br>コンビニ支払い&emsp;&emsp;2.75%
          <br>銀行振込&emsp;&emsp;&emsp;&emsp;&emsp;お使いの金融機関の振込手数料
          </span>
        </div>
      </div>

      <div class="specified-item p-row">
        <div class="p-col-3">
          <span>ご注文の有効期限</span>
        </div>
        <div class="p-col-9">
          <span>ご注文後７日以内にお支払いください。なお、ご注文から７日以内にご入金が確認出来ない場合はご注文をキャンセル扱いとさせて頂きます。</span>
        </div>
      </div>

      <div class="specified-item p-row">
        <div class="p-col-3">
          <span>引き渡し時期</span>
        </div>
        <div class="p-col-9">
          <span>配送のご依頼を受け、ご入金確認後から５営業日以内に発送いたします。</span>
        </div>
      </div>
      
    </div>

    {% render 'component-page-header', page_title: 'お支払方法・お支払時期について' %}

    <div class="specified-group">
      <div class="specified-item p-row">
        <div class="p-col-3">
          <span>お支払方法</span>
        </div>
        <div class="p-col-9">
          <span>クレジットカード (VISA, Master Card, American Express、DinersClub、JCB)<br>コンビニ払い、代金引換、銀行振込</span>
        </div>
      </div>

      <div class="specified-item p-row">
        <div class="p-col-3">
          <span>お支払時期</span>
        </div>
        <div class="p-col-9">
          <span>クレジットカード&emsp;&emsp;&emsp;&emsp;&emsp;注文時にお支払いが確定します。
            <br>代金引換&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;引き渡し時にお支払い頂きます。
            <br>
            <br>コンビニ払い・銀行振込&emsp;&emsp;注文後にお支払い頂きます。
            <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;（ご入金確認後に発送させて頂きます。）
          </span>
        </div>
      </div>

      {% render 'component-page-header', page_title: '発送方法について' %}
      <div class="specified-item p-row">
        <div class="p-col-3">
          <span>発送方法</span>
        </div>
        <div class="p-col-9">
          <span>郵便局&emsp;要冷蔵の食品はチルドでお送りします。 </span>
        </div>
      </div>

      {% render 'component-page-header', page_title: '返品・交換について' %}
      <div class="specified-item p-row">
        <div class="p-col-3">
          <span>返品期限・条件</span>
        </div>
        <div class="p-col-9">
          <span>当店では原則として、お客様都合による返品・交換は対応致しかねますので予めご了承下さい。
            <br>
            お届けした商品の欠陥による返品、交換につきましては送料弊社負担にて承りますので、到着後７日以内にご連絡下さい。 </span>
        </div>
      </div>

    </div>

  </div>
</div>