{{ 'section-main-terms-of-service.css' | asset_url | stylesheet_tag }}

<div class="terms-of-service">
  <div class="p-container">
    {% render 'component-page-header', page_title: page.title %}

    <div class="terms-of-service__content">
      <h3>概要</h3>
      <p>
        本ウェブサイトは株式会社音羽が運営しています。サイト全体を通して、「当社」や「私たち」という用語は株式会社音羽を指します。株式会社音羽は、ここに記載されているすべての規約、条件、ポリシー、および通知に利用者が同意することを条件として本ウェブサイトを提供しています。本ウェブサイトとは、同サイトで利用者に提供されるすべての情報、ツールおよびサービスを含みます。
      </p>
      <p>
        当サイトへのアクセスや当サイトでの購入により、お客様は当社の「サービス」を利用し、本書で参照および/またはリンクされている追加の諸条件およびポリシーを含む以下の利用規約（以下「利用規約」、「規約」）に拘束されることに同意するものとします。本利用規約は、当サイトのすべての利用者（閲覧者、ベンダー、顧客、マーチャント、コンテンツ投稿者を含むがこれに限定されない）に適用されます。
        当サイトへのアクセスまたはご利用の前に、本利用規約をよくお読みください。本サイトのいずれかの部分にアクセスまたは使用することにより、お客様は本利用規約に拘束されることに同意したことになります。本書のすべての条件に同意されない場合は、本ウェブサイトにアクセスまたはサービスのいかなる部分も利用することはできません。これらの利用規約が申し出とみなされる場合、承諾はこの利用規約に明示的に限定されます。
      </p>
      <p>
        現在のストアに追加された新しい機能やツールも、利用規約の対象となります。本規約の最新版は、このページでいつでも確認することができます。当社は、本利用規約の更新および/または変更を当社のウェブサイトに掲載することにより、本利用規約の一部を更新、変更または置換する権利を保持します。このページの変更を定期的に確認するのは、お客様の責任です。変更が掲載された後もウェブサイトを継続的に使用またはアクセスした場合、それらの変更に同意したものとみなされます。
        当社のストアは、Shopify Inc.によってホストされています。同社は、商品やサービスを販売するためのオンラインEコマースプラットフォームを当社に提供しています。
      </p>

      <h3>第1条 - オンラインストアの利用規約</h3>

      <p>
        お客様は、本利用規約に同意することにより、居住する県または地域において少なくとも成人年齢に達していること、あるいは居住する県または地域において成人年齢に達しており、お客様の未成年の扶養家族が本サイトを利用することに同意していることを表明します。
      </p>
      <p>
        お客様は、当社製品を違法または不正な目的で使用したり、本サービスの利用において、お客様の管轄区域のいかなる法律（著作権法を含むがこれに限定されない）にも違反することはできません。
      </p>
      <p>
        ワーム、ウイルス、または破壊的な性質を持つコードを送信することを禁じます。
      </p>
      <p>規約の不履行や違反があった場合、お客様のサービスの利用を直ちに終了いたします。</p>
      <h3>第2条 - 一般条項</h3>
      <p>
        当サイトはいかなる理由であっても、いつでも誰に対してもサービスを拒否する権利を保持します。
      </p>
      <p>
        お客様は、お客様のコンテンツ（クレジットカード情報を含まない）が暗号化されずに転送され、(a) さまざまなネットワークを介した転送が行われる場合、(b) 接続するネットワークまたはデバイスの技術要件と一致し適合するように変更される場合があることを理解するものとします。クレジットカード情報は、ネットワーク経由での転送中は常に暗号化されます。
      </p>
      <p>
        お客様は、当社の書面による明示的な許可なく、本サービスのいかなる部分も、本サービスの使用、本サービスへのアクセスまたはサービスが提供されているウェブサイト上の連絡先も、複製、複写、コピー、販売、転売、悪用しないことに同意するものとします。
      </p>
      <p>
        本書で使用される見出しは、便宜上含まれているものであり、本規約を制限したり、影響与えたりするものでもありません。
      </p>
      <h3>第3条 - 情報の正確性、完全性および適時性</h3>
      <p>
        当サイトで提供される情報が不正確、不完全、または最新でない場合において、当社は一切の責任を負いかねます。当サイトに掲載されている資料は、一般的な情報のみを提供するものであり、一次情報源、より正確で完全な情報源、またはよりタイムリーな情報源を調べることなく、意思決定の唯一の判断根拠として信頼されるべきものではありません。当サイトの資料の信頼性は自己責任にてご判断ください。
      </p>
      <p>当サイトには過去の記録が含まれている場合があります。過去の記録は、必ずしも現在のものではなく、お客様の参照用としてのみ提供されています。当社は、本サイトの内容をいつでも変更する権利を有しますが、本サイトの情報を更新する義務はありません。お客様は、本サイトの変更を定期的に確認することがお客様の責任であることに同意するものとします。</p>
      <h3>第4条 - サービス内容および価格の変更</h3>
      <p>
        商品の価格は、予告なしに変更される場合があります。
      </p>
      <p>
        当社は、いつでも予告なしに本サービス（またはその一部やコンテンツ）を変更または中止する権利を保持します。
      </p>
      <p>
        当社は、本サービスの変更、価格変更、中断または中止に起因してお客様や第三者が被った被害について、一切の責任を負わないものとします。
      </p>
      <h3>第5条 - 商品またはサービス（該当する場合）</h3>
      <p>
        一部の商品またはサービスは、ウェブサイトを通じてオンラインでのみ入手可能な場合があります。これらの商品やサービスは数量が限られている場合があり、返品ポリシーに従ってのみ返品または交換が可能です。
      </p>
      <p>
        当社は、ストアに掲載する商品の色や画像を可能な限り正確に表示するよう努めておりますが、お使いのコンピュータモニターでその色が正確に表示されるかどうかは保証いたしかねます。
      </p>
      <p>
        当社は、当社の商品またはサービスの販売を、任意の個人、地理的地域または管轄区域に制限する権利を留保しますが、義務ではありません。当社は、状況に応じてこの権利を行使する場合があります。当社は、提供する商品やサービスの数量を制限する権利を保持します。すべての商品に関する記述や商品価格は、当社の独自の裁量により、予告なしにいつでも変更される場合があります。当社はいつでもいかなる商品の販売も中止する権利を有します。当サイト上の商品やサービスの提供は、禁止されている場合は無効になります。
      </p>
      <p>
        当社は、お客様が購入または入手された商品、サービス、情報、その他の素材の品質がお客様の期待に沿うものであること、または本サービスのエラーが修正されることを保証いたしません。
      </p>
      <h3>第6条 - 請求およびアカウント情報の正確性</h3>
      <p>当社は、お客様が当社に発注したいかなる注文も拒否する権利を保持します。当社は、独自の裁量により、1人当たり、1世帯当たりまたは1注文あたりの購入量を制限または取り消すことができるものとします。これらの制限には、同一のお客様アカウント、同一のクレジットカード、および/または同じ請求先および/または配送先住所を使用した注文が含まれる可能性があります。注文の変更またはキャンセルを行う場合、当社は、注文時に提供されたメールアドレスおよび/または請求先住所、電話番号を使用してお客様に連絡を試みる場合があります。当社は、独自の判断において、販売業者、再販業者、または販売代理店によると思われる注文を制限または禁止する権利を保持します。</p>
      <p>
        お客様は、当サイトで行われたすべての購入について、最新の完全かつ正確な購入情報およびアカウント情報を提供することに同意するものとします。お客様は、メールアドレス、クレジットカード番号、有効期限など、アカウント情報やその他の情報を速やかに更新することに同意します。これにより、当社は取引を完了し、必要に応じてお客様に連絡をすることができます。
      </p>
      <p>
        詳細については、当社の返品ポリシーをご覧ください。
      </p>
      <h3>第7条 - オプションツール</h3>
      <p>
        当社は、当社が監視、制御、入力を行わない外部ツールへのアクセスをお客様に提供する場合があります。
      </p>
      <p>
        お客様は、当社がそのような外部ツールへのアクセスを「現状のまま」かつ「利用可能な状態」で、いかなる種類の保証、表明、条件もなく、またいかなる裏付けもなく提供していることを認識し、同意するものとします。当社は、オプションの外部ツールの使用に起因する、またはこれに関連して生じた一切の損害についていかなる責任も負いません。
      </p>
      <p>
        本サイトを通じて提供されるオプションツールの使用は、ツールを提供する外部プロバイダーの条件をよく理解し同意した上で、すべてお客様ご自身の責任と判断において行われるものとします。
      </p>
      <p>
        今後、本ウェブサイトを通じて新しいサービスや機能（新しいツールやリソースのリリースなどを含む）を提供する場合もあります。そのような新機能やサービスにも、本利用規約が適用されるものとします。
      </p>
      <h3>第8条 - 第三者へのリンク</h3>
      <p>
        本サイトのサービスを通じて利用可能な特定のコンテンツ、商品およびサービスには、第三者の資料が含まれる場合があります。
      </p>
      <p>
        当サイト上に掲載されている外部へのリンクで、当社と提携していない第三者のウェブサイトにお客様を誘導する場合があります。当社は、その内容や正確性を調査または評価する責任を負わず、第三者の素材またはウェブサイト、あるいは第三者のその他の資料、商品、サービスに対していかなる保証もせず、また一切の責任を負わないものとします。
      </p>
      <p>
        当社は、商品、サービス、リソース、コンテンツの購入または使用、および第三者のウェブサイトに関連して行われたその他の取引に関連するいかなる損失や損害についても一切責任を負いません。取引を行う前に、外部プロバイダーのポリシーと慣行を注意深く確認し、理解しておいてください。第三者の商品に関する苦情、クレーム、懸念、質問については、第三者に直接お問い合わせください。
      </p>
      <h3>第9条 - ユーザーのコメント、フィードバック、その他の提出物</h3>
      <p>
        お客様が、当社の要請に基づき、特定の提出物（コンテストの応募作品など）を送信する場合、あるいは当社の要請によらずに、創造的なアイデア、提案、企画、計画、その他の素材をオンラインやメール、郵便、その他の方法で送付する場合（以下、総称して「コメント」）、お客様は、当社が、いつでも、制限なく、お客様が当社に送付されたコメントを編集、コピー、出版、配布、翻訳、その他いかなる媒体でも使用することができることに同意するものとします。当社は、（1）いかなるコメントも内密に保つ義務、（2）コメントに対する補償金を支払う義務、あるいは（3）コメントに回答する義務を負わないものとします。
      </p>
      <p>
        当社は、違法、攻撃的、脅迫的、名誉毀損、中傷的、ポルノ的、わいせつ的、その他好ましくないと当社が独自の裁量で判断したコンテンツや、知的財産を侵害あるいは本利用規約に違反するコンテンツを監視、編集、削除することができますが、その義務を負うものではありません。
      </p>
      <p>
        お客様はご自身のコメントが著作権、商標、プライバシー、人権、その他の個人的または所有権を含む、第三者の権利を侵害しないことに同意するものとします。また、お客様は、ご自分のコメントに誹謗中傷、その他の違法、暴力的、わいせつな内容が含まれていないこと、本サービスや関連するウェブサイトの運営に影響を及ぼす可能性のあるコンピューターウイルスやその他のマルウェアが含まれていないことに同意するものとします。偽のメールアドレスの使用や他人へのなりすまし、またはコメントの発信源について当社または第三者の誤認につながる行為を禁止します。ご自身のコメントとその正確性については、お客様が単独で責任を負うものとします。当社は、お客様または第三者が投稿したコメントについて、一切の責任を負いません。
      </p>
      <h3>第10条 - 個人情報</h3>
      <p>
        当ストアを通じた個人情報の提出には、当社のプライバシーポリシーが適用されます。当社のプライバシーポリシーを表示するには、[プライバシーポリシーへのリンク] をクリックしてください。
      </p>
      <h3>第11条 - エラー、誤り、不備</h3>
      <p>
        当サイトまたはサービスにおいて、商品の説明、価格設定、プロモーション、オファー、商品配送料、配送時間、在庫状況に関連する誤字脱字、不正確さや不備のある情報が含まれている場合があります。当社は、本サービスの一部または関連するウェブサイト上の情報が不正確な場合、事前の通知なしにいつでも（お客様が発注した後も含む）エラー、誤り、または不備の修正、および情報の変更または更新、注文のキャンセルを行う権利を有します。
      </p>
      <p>
        当社は、法律で義務付けられている場合を除き、本サービスまたは関連ウェブサイト上の情報（価格情報を含むがこれに限定されない）を更新、修正または明確化する義務を負いません。本サービスまたは関連ウェブサイトの改訂日または更新日が記載されていたとしても、本サービスまたは関連ウェブサイト上のすべての情報が変更または更新されたことを示すものではありません。
      </p>
      <h3>第12条 - 禁止事項</h3>
      <p>
        本利用規約に定められたその他の禁止事項に加えて、次の場合にサイトまたはそのコンテンツの使用が禁止されています。（a）違法な目的、（b）違法行為の実行または参加の教唆、（c）国際、国、県または地域の規制、規則、法律、または地方条例の違反、（d）当社の知的財産権または他者の知的財産権の侵害や違反、（e）性別、性的指向、宗教、民族、人種、年齢、国籍、障害に基づく嫌がらせ、暴言、侮辱、悪意、誹謗中傷、名誉毀損、非難、脅迫、差別、（f）虚偽または誤解を招く情報の提出、（g）本サービスの機能や運営、または関連するウェブサイト、他のウェブサイト、インターネットの機能や運営に影響を与えるような可能性のあるウイルスや悪意のあるコードのアップロードまたは送信、（h）他人の個人情報の収集または追跡、（i）スパム、フィッシング、ファーム、プレテクスト、スパイダー、クローリング、スクレイピング、（j）わいせつまたは不道徳な目的、（k）本サービス、関連ウェブサイト、他のウェブサイト、またはインターネットのセキュリティ機能を妨害または回避すること。禁止事項に該当する行為を行った場合、当社はお客様の本サービスまたは関連ウェブサイトの利用を終了させる権利を有します。
      </p>
      <h3>第13条 - 保証免責・責任の制限</h3>
      <p>
        当社は、お客様による当社サービスの利用が、中断されず、タイムリーで、安全で、エラーのないものであることを、保証、表明、担保しません。
      </p>
      <p>
        当社は、本サービスの利用により得られる結果が正確であること、または信頼できるものであることを保証しません。
      </p>
      <p>
        お客様は、当社が随時、お客様に通知することなく、無期限にサービスを削除したりサービスをキャンセルしたりすることに同意するものとします。
      </p>
      <p>
        お客様は、お客様によるサービスの利用、または利用できないことが、お客様自身の責任であることに明示的に同意するものとします。本サービスおよび本サービスを通じてお客様に提供されるすべての商品およびサービスは、（当社が明示的に記載した場合を除き）お客様の使用のために「現状のまま」かつ「利用可能な状態」で提供され、明示的または黙示的を問わず、商品性、商品的品質、特定目的への適合性、耐久性、権原、および権利を侵害していないことに関するすべての黙示的な保証または条件を含む、いかなる種類の表明、保証または条件もないものとします。
      </p>
      <p>
        いかなる場合においても、株式会社音羽、当社の取締役、役員、従業員、関連会社、代理店、請負業者、インターン、サプライヤー、サービスプロバイダーまたはライセンサーは、契約、不法行為（過失を含む）に基づいているかどうかにかかわらず、逸失利益、逸失収益、逸失貯蓄、データの損失、交換費用、または同様の損害を含むがこれらに限定されない、いかなる種類の傷害、損失、請求、直接的または間接的、偶発的、懲罰的、または結果的な損害に対して責任を負うものではありません。また、当社のサービスを利用して購入した商品の使用にあたっての厳格責任及びその他責任、当社のサービスまたは商品を利用する場合の損害賠償（コンテンツ内のエラーまたは内容脱落を含むがこれに限らず）、または当社のサービスまたは当社のサービスを介して投稿、送信、またはその他の方法で利用可能になったコンテンツ（または商品）の使用の結果として発生した損失または損害について、その可能性を知らされていたとしても、責任を負わないものとします。
      </p>
      <p>
        結果的または偶発的な損害に対する責任の除外または制限が認められていない地域または法域では、当社の責任は法律で認められる最大限の範囲に制限されるものとします。
      </p>
      <h3>第14条 - 補償</h3>
      <p>
        お客様は、お客様が本利用規約または本利用規約が参照する文書に違反したことに起因して、または、ユーザーが何らかの法律または第三者の権利に違反したことに起因して、第三者から提起された場合、合理的な弁護士費用を含むあらゆる請求または要求から、株式会社音羽およびその親会社、子会社、関連会社、パートナー、役員、取締役、代理店、請負業者、ライセンサー、サービスプロバイター、下請け業者、サプライヤー、インターンおよび従業員を補償し、防御し、免責することに同意します。
      </p>
      <h3>第15条 - 分離条項</h3>
      <p>
        本利用規約のいずれかの条項が違法、無効、施行不能と判断された場合でも、当該条項は適用される法によって許可されている最大限の範囲で執行可能であり、執行不能部分は本利用規約から切り離されたものとみなされますが、当該判断は残りの条項の有効性および執行可能性に影響を与えません。
      </p>
      <h3>第16条 - 利用規約の終了</h3>
      <p>
        解約日前に発生した当事者の義務および債務は、あらゆる目的において本契約の終了後も存続するものとします。
      </p>
      <p>
        本利用規約は、お客様または当社によって解除されない限り、また解除されるまで有効です。お客様は、当社サービスの利用を希望しない旨を当社に通知することにより、または、本ウェブサイトの利用を中止することにより、いつでも本利用規約を終了することができます。
      </p>
      <p>
        お客様が本利用規約のいずれかの条項または規定を遵守していない、または遵守していない疑いがあると当社が判断した場合、当社はいつでも予告なしに本利用規約を終了させることができ、お客様は終了日までに支払うべきすべての金額について責任を負うものとし、かつ/または終了日までの期間およびそれに応じて、当サイトのサービス (またはその一部) へのアクセスが拒否される場合があります。
      </p>
      <h3>第17条 - 完全合意</h3>
      <p>
        当社が本利用規約の権利または条項を行使または執行しなかった場合でも、該当する権利あるいは条項の放棄とはみなされません。
      </p>
      <p>
        本利用規約および本ウェブサイトまたはサービスに関連して当社が掲載するポリシーや運用ルールは、お客様と当社との間の完全な合意と理解を構成し、お客様によるサービスの利用を規定するものであり、口頭か書面かを問わず、お客様と当社との間のあらゆる事前または同時の合意、コミュニケーション、提案（本利用規約の旧バージョンを含むがこれに限定されない）に取って代わるものとし、本利用規約の解釈に曖昧な点があっても、起草者に不利に解釈されることはないものとします。
      </p>
      <h3>第18条 - 準拠法</h3>
      <p>
        本利用規約および当社が本サービスを提供するための個別の契約は、日本長野県小諸市384-0007鶴巻2-2-27の法律に準拠し、同法に従って解釈されるものとします。
      </p>
      <h3>第19条 - 利用規約の変更</h3>
      <p>
        お客様は、本ページでいつでも最新の利用規約を確認することができます。
      </p>
      <p>
        当社は、当社の独自の裁量により、本ウェブサイトの更新や変更を掲載することで、本利用規約の一部を更新、変更、または置換する権利を有します。変更がないか定期的に当社のウェブサイトをチェックするのは、お客様の責任となります。お客様は、本利用規約の変更が掲載された後に当社のウェブサイトまたはサービスを継続的に使用またはアクセスすることにより、これらの変更に同意したものとみなされます。
      </p>
      <h3>第20条 - 連絡先情報</h3>
      <p>
        本利用規約に関するご質問は、ryoutei.otowa@gmail.comまでお送りください。
      </p>
    </div>
  </div>
</div>