{{ 'section-main-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-product-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-pagination.css' | asset_url | stylesheet_tag }}

{% assign text = "CATEGORY / " | append: collection.title %}

{% paginate collection.products by 8 %}
<div class="collection-template">
  <div class="p-container">
    {% render 'component-page-header', page_title: text %}

    <div class="p-row collection-template-wrapper">
      {%- for product in collection.products -%}
        <div class="p-col-6 p-col-md-3">
          {% render 'component-product-card',
            product_card_product: product
          %}
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>
{%- if paginate.pages > 1 -%}
  {% render 'component-pagination', paginate: paginate, anchor: '', class: '' %}
{%- endif -%}
{% endpaginate %}

{% schema %}
{
  "name": "t:sections.collection.name",
  "tag": "section",
  "settings": []
}
{% endschema %}
