<div class="page-item p-container">
  {% render 'component-page-header', page_title: page.title %}
</div>


{% schema %}
{
  "name": "Page ITEM",
  "tag": "section",
  "settings": []
}
{% endschema %}
