{{ 'section-main-category.css' | asset_url | stylesheet_tag }}

<h1>hihi</h1>

{% schema %}
{
  "name": "category",
  "settings": [],
  "presets": [
    {
      "name": "category"
    }
  ]
}
{% endschema %}
