{{ 'component-background-image.css' | asset_url | stylesheet_tag }}
{{ 'section-main-slideshow.css' | asset_url | stylesheet_tag }}
<script src="{{- 'component-slideshow-slider.js' | asset_url -}}" defer></script>

<div class="slideshow">
  <slideshow-slider>
    <div class="splide slideshow-slider-container"
      data-autoplay={{ section.settings.apply_auto_play }}
      data-interval={{ section.settings.slide_delay }}
    >
      <div class="splide__track">
        <div class="splide__list">
          {% for block in section.blocks %}
            <a class="splide__slide" href="{{ block.settings.link }}" target="_blank">
              {% render 'component-background-image', image_desktop: block.settings.image_desktop, image_mobile: block.settings.image_mobile %}
            </a>        
          {% endfor %}
        </div>
      </div>
    </div>
  </slideshow-slider>
</div>

{% schema %}
{
  "name": "Slideshow",
  "settings": [
    {
      "type": "header",
      "content": "Slide"
    },
    {
      "type": "checkbox",
      "id": "apply_auto_play",
      "label": "Enable autoplay",
      "default": true
    },
    {
      "type": "text",
      "id": "slide_delay",
      "label": "Delay",
      "default": "5000",
      "info": "If you applied autoplay, you would set delay in here"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_desktop",
          "label": "Image desktop",
          "info": "1800 x 800px .jpg recommended"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image mobile",
          "info": "750 x 1100px .jpg recommended"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Link to image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slideshow",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
