{{ 'section-main-image-with-text.css' | asset_url | stylesheet_tag }}

<div class="image-with-text">
  <div class="p-container">

    <!-- Header  -->
    <div class="image-with-text__header">
      <div class="image-with-text__header-img">
        {% render 'component-image', image: section.settings.image_1 %}
        {% render 'component-image', image: section.settings.image_3 %}
      </div>
      <div class="image-with-text__header-subheading">
        <span>{{ section.settings.subheading }}</span>
      </div>

    </div>

    <!-- Content  -->
    <div class="image-with-text__wrapper p-row">
      <div class="image-with-text__wrapper-content p-col-md-6 p-col-lg-7 p-col-xl-8">
        {{ section.settings.content }}
      </div>
      <div class="image-with-text__wrapper-img p-col-md-6 p-col-lg-5 p-col-xl-4">
        <img src="{{ section.settings.image_2 | img_url: 'master'}}" alt="{{ section.settings.image_2.alt }}">
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image with text",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subeading",
      "default": "Braise, sauté, and fry without the chemicals"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Content",
      "default": "Braise, sauté, and fry without the chemicals Braise, sauté, and fry without the chemicals Braise, sauté, and fry without the chemicals Braise, sauté, and fry without the chemicals Braise, sauté, and fry without the chemicals Braise, sauté, and fry without the chemicals Braise, sauté, and fry without the chemicals"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image"
    }
  ],
  "presets": [{
    "name": "Image with text",
    "category": "Image",
    "settings": {}
  }]
}
{% endschema %}