{{ 'section-feature-products.css' | asset_url | stylesheet_tag }}
{{ 'component-product-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-pagination.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign feature_collection = collections[section.settings.feature_collection]
-%}

{% paginate feature_collection.products by 8 %}
<div class="feature-products p-container">
  {% if section.settings.title != blank%} 
    <div class="feature__heading">{{ section.settings.title }}</div>
  {% endif %}
  
  <div class="p-row">
    {%- for product in feature_collection.products -%}
      <div class="p-col-6 p-col-md-3">
        {% render 'component-product-card',
          product_card_product: product
        %}
      </div>
    {%- endfor -%}
  </div>

  {% if section.settings.btn_label != blank %}
    <a href="{{ section.settings.btn_link }}" class="feature__btn p-button">{{ section.settings.btn_label }}</a>
  {% endif %}
</div>
{%- if paginate.pages > 1 -%}
  {% render 'component-pagination', paginate: paginate, anchor: '', class: '' %}
{%- endif -%}
{% endpaginate %}

{% schema %}
{
  "name": "Feature products",
  "tag": "section",
  "settings": [
    {
      "type": "collection",
      "id": "feature_collection",
      "label": "Choose collection"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "その他のアイテム"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Label",
      "default": "その他のアイテム"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Link"
    }

  ],
  "presets": [
    {
    "name": "Feature products"
    }
  ]
}
{% endschema %}