{{ 'section-shipping.css' | asset_url | stylesheet_tag }}


<div id="modal-shiping" class="shiping-popup modal micromodal-slide" aria-hidden="true">
  <div class="modal__overlay"  tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title" >
      <header class="modal__header">
        <h2 class="shiping-popup__title h2" id="modal-1-title" >
          送料
        </h2>
        <button  class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>

      <div id="modal-1-content" class="modal__content">
        <div class="shiping-popup__content" >
          <table class="" style="width: 100%;">
            <!-- {% for block in section.blocks %}
              <tr>
                <td>{{ block.settings.city }}</td>
                <td>{{ block.settings.shiping_price }}</td>
              </tr>       
            {% endfor %} -->
              <tbody><tr>
                <td>北海道</td>
                <td>¥1525</td>
              </tr>       
            
              <tr>
                <td>青森</td>
                <td>¥1095</td>
              </tr>       
            
              <tr>
                <td>岩手</td>
                <td>¥1095</td>
              </tr>       
            
              <tr>
                <td>秋田</td>
                <td>¥1095</td>
              </tr>       
            
              <tr>
                <td>山形</td>
                <td>¥1095</td>
              </tr>       
            
              <tr>
                <td>宮城</td>
                <td>¥1095</td>
              </tr>       
            
              <tr>
                <td>福島</td>
                <td>¥1095</td>
              </tr>       
            
              <tr>
                <td>茨城</td>
                <td>¥1095</td>
              </tr>       
            
              <tr>
                <td>栃木</td>
                <td>¥1095</td>
              </tr>       
            
              <tr>
                <td>群馬</td>
                <td>¥1095</td>
              </tr>       
            
              <tr>
                <td>埼玉</td>
                <td>¥1095</td>
              </tr>       
            
              <tr>
                <td>千葉</td>
                <td>¥1095</td>
              </tr>       
            
              <tr>
                <td>東京</td>
                <td>¥1095</td>
              </tr>       
            
              <tr>
                <td>神奈川</td>
                <td>¥1095</td>
              </tr>       
            
              <tr>
                <td>山梨</td>
                <td>¥1095</td>
              </tr>       
            
              <tr>
                <td>新潟</td>
                <td>¥1095</td>
              </tr>       

              <tr>
                <td>長野</td>
                <td>¥1035</td>
              </tr>  

              <tr>
                <td>富山</td>
                <td>¥1095</td>
              </tr>  

              <tr>
                <td>福井</td>
                <td>¥1095</td>
              </tr>  

              <tr>
                <td>静岡</td>
                <td>¥1095</td>
              </tr>

              <tr>
                <td>愛知</td>
                <td>¥1095</td>
              </tr>

              <tr>
                <td>岐阜</td>
                <td>¥1095</td>
              </tr>

              <tr>
                <td>三重</td>
                <td>¥1095</td>
              </tr>

              <tr>
                <td>滋賀</td>
                <td>¥1195</td>
              </tr>

              <tr>
                <td>京都</td>
                <td>¥1195</td>
              </tr>

              <tr>
                <td>大阪</td>
                <td>¥1195</td>
              </tr>

              <tr>
                <td>兵庫</td>
                <td>¥1195</td>
              </tr>

              <tr>
                <td>奈良</td>
                <td>¥1195</td>
              </tr>

              <tr>
                <td>和歌山</td>
                <td>¥1195</td>
              </tr>

              <tr>
                <td>鳥取</td>
                <td>¥1325</td>
              </tr>

              <tr>
                <td>岡山</td>
                <td>¥1325</td>
              </tr>

              <tr>
                <td>島根</td>
                <td>¥1325</td>
              </tr>

              <tr>
                <td>広島</td>
                <td>¥1325</td>
              </tr>

              <tr>
                <td>山口</td>
                <td>¥1325</td>
              </tr>

              <tr>
                <td>香川</td>
                <td>¥1325</td>
              </tr>

              <tr>
                <td>徳島</td>
                <td>¥1325</td>
              </tr>

              <tr>
                <td>愛媛</td>
                <td>¥1325</td>
              </tr>

              <tr>
                <td>高知</td>
                <td>¥1325</td>
              </tr>

              <tr>
                <td>福岡</td>
                <td>¥1525</td>
              </tr>

              <tr>
                <td>佐賀</td>
                <td>¥1525</td>
              </tr>

              <tr>
                <td>大分</td>
                <td>¥1525</td>
              </tr>

              <tr>
                <td>熊本</td>
                <td>¥1525</td>
              </tr>

              <tr>
                <td>長崎</td>
                <td>¥1525</td>
              </tr>

              <tr>
                <td>宮崎</td>
                <td>¥1525</td>
              </tr>

              <tr>
                <td>鹿児島</td>
                <td>¥1525</td>
              </tr>

              <tr>
                <td>鹿児島</td>
                <td>¥1695</td>
              </tr>
              
          </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "⚡Pusher: Shiping Popup",
  "tag": "section",
  "settings": [
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Each City",
      "settings": [
        {
          "type": "text",
          "id": "city",
          "label": "City name",
          "default": "Tokyo"
        },
        {
          "type": "text",
          "id": "shiping_price",
          "label": "Shiping price",
          "default": "¥1200"
        }
      ]
    }
  ]
}
{% endschema %}
