{{ 'section-main-icon-with-link.css' | asset_url | stylesheet_tag }}

<div class="section-text-w-icons p-container">
  <!-- Content -->
  <div class="text-w-icons__content p-row">
    {% for block in section.blocks %}
      <a href="{{ block.settings.link }}" class="text-w-icons__card text-center p-col-4" target="_blank">
        <div class="text-w-icons__card-image">
          {% if block.settings.icon == blank %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {% else %}
            {% render 'component-image', image: block.settings.icon %}
          {% endif %}
        </div>
      </a>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Icon with link",
    "tag": "section",
    "max_blocks": 3,
    "settings": [
    ],
    "blocks": [
      {
        "type": "column",
        "name": "Column",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Column"
      }
    ]
  }
{% endschema %}