{{ 'section-message-box.css' | asset_url | stylesheet_tag }}


<div id="modal-soldout" class="message-box modal micromodal-slide" aria-hidden="true">
  <div class="modal__overlay"  tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title" >
      <header class="modal__header">
        <h2 class="shiping-popup__title h2" id="modal-1-title" >
          お問い合わせ
        </h2>
        <button  class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>

      <div id="modal-1-content" class="modal__content">
        <div class="message-box__content" >
          {%- comment -%}Form{%- endcomment -%}
        {%- form 'contact', id: 'ContactForm-3' -%}

          <product-infor>
            <div class="product__infor">
            </div>
          </product-infor>

          {%- if form.posted_successfully? -%}
            <div class="form-status form-status-list form__message" tabindex="-1" >
              お問い合わせいただきありがとうございます。早急に返信いたします。
            </div>
          {%- elsif form.errors -%}
            <div class="form__message">
              <h2 class="form-status caption-large" role="alert" tabindex="-1" >
                以下を確認してください
              </h2>
            </div>
            <ul class="form-status-list caption-large" role="list">
              <li>
                <a href="#ContactForm-email" class="link">
                  {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
                </a>
              </li>
            </ul>
          {%- endif -%}
          
          <div class="contact__field-item">
            <div class="field field--message">
              <input
                autocomplete="email"
                type="email"
                id="ContactForm-email-fr"
                placeholder="メールアドレス"
                class="field__input"
                name="contact[email]"
                spellcheck="false"
                autocapitalize="off"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                aria-required="true"
                {% if form.errors contains 'email' %}
                  aria-invalid="true"
                  aria-describedby="ContactForm-email-error"
                {% endif %}
              >
              {%- if form.errors contains 'email' -%}
                <div class="contact__field-error" id="ContactForm-email-error">
                  <span>
                    {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
                  </span>
                </div>
              {%- endif -%}
            </div>

            <p class="mail_note"><small>※「@otowa.jp」からのメール受信許可をお願いいたします。</small></p>
          </div>
          
          <div class="contact__button">
            <button type="submit" class="button p-button">
              送信する
            </button>
          </div>
        {%- endform -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "⚡Pusher: Soldout Modal",
  "tag": "section",
  "settings": [
  ]
}
{% endschema %}
