{{ 'section-main-zooomy-wishlist.css' | asset_url | stylesheet_tag }}

<div class="page o-container -medium">
  <div class="p-container zooomy-wishlist">
    {% render 'component-breadcrumbs' %}
    {% render 'component-page-header', page_title: page.title %}

    <div id='ZoomyWishlistPage'></div>

  </div>
  <script src='https://zooomyapps.com/wishlist/ListWishlist.js' data-shop-id='{{shop.permanent_domain}}'
    data-customer-id='{{customer.id}}' data-customer-email='{{customer.email}}'>
  </script>
  <script>
    setTimeout(function() {
      $('.zprice').each(function (index, item) {
      price = new Intl.NumberFormat('ja-JP', { style: 'currency', currency: 'JPY' }).format(item.innerHTML);
      $(item).html(price);
      });
    }, 1400);
  </script>
</div>

{% schema %}
{
"name": "t:sections.page.name",
"tag": "section",
"settings": []
}
{% endschema %}